.feedback-form {
    max-width: 500px;
}

.feedback-send-button {
    height: auto;
    width: auto;
    padding: 5px 20px;
    cursor: pointer;
    &.disabled {
        background-color: transparent;
        color: #cccccc;
        cursor: default;
    }
}

.feedback-contacts {
    display: table;
    .feedback-contact {
        display: table-cell;
        padding-right: 30px;
        line-height: 10px;
        .contact-desc {
            color: grey;
            padding: 5px 0;
            .fa {
                color: @darkGrey;
            }
        }
        .contact-content {
            padding: 10px;
            border-top: 1px solid @formBorderColor;
            div {
                margin-right: 20px;
            }
        }

    }
}
