<div class="co-rating" title="{{ absValue|round:2 }}">
    <span ng-if="showNumber" class="rating-value">{{ absValue|round:2 }}</span>
    <img ng-src="/static/assets/images/imp_{{ imgNum }}.png">
</div>