<div class="legal-container short-form tile">
    <h2 class="title">About</h2>
    <div class="short-form-container">
        <div class="legal-section">Address</div>
        <table>
            <tr ng-repeat="line in vm.address">
                <td>{{ line }}</td>
            </tr>
        </table>
        <div class="legal-section">Contact</div>
        <table>
            <tr ng-repeat="c in vm.contact">
                <td class="row-label">{{ c.title }}:</td>
                <td>{{ c.text }}</td>
            </tr>
        </table>
    </div>
</div>
