.co-wait-icon {
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    display: inline-block;
    .wait-square {
        margin: 3px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        float: left;
    }
    &.fill {
        z-index: 200;
        background-color: @ultraLightGrey;
    }
    &.center {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}