<div>
    <div class="modal-head">
        <i class="icon fa fa-envelope"></i>
        <span class="text">Thank you!</span>
    </div>
    <div class="modal-content">
        <div class="desc">Your feedback was received</div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.close()">Close</button>
        <button ng-click="vm.back()">Back to previous page</button>
    </div>
</div>
