<div class="tile sections-container">
    <div class="tile-caption">Feedback</div>
    <div class="section">
        <div class="section-caption">Send a message to our team</div>
        <div class="section-description">Possible topics: critizism, bug reports, suggestions, questions</div>
        <div class="section-body">
            <form class="vertical feedback-form" ng-submit="vm.sendFeedback()">
                <div class="form-group">
                    <div class="group-label">
                        <label>Title</label>
                    </div>
                    <div class="group-input">
                        <input type="text" ng-model="vm.feedback.title" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group-label">
                        <label>Message</label>
                    </div>
                    <div class="group-input">
                        <textarea rows="16" ng-model="vm.feedback.message" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group-label">
                        <label>Send me a copy</label>
                    </div>
                    <div class="group-input">
                        <co-checkbox checked="vm.feedback.sendCopy"></co-checkbox>
                    </div>
                </div>
                <div class="feedback-wait">
                    <co-wait-icon active="vm.inProgress"></co-wait-icon>
                </div>
                <div class="form-group">
                    <div class="group-input">
                        <button class="feedback-send-button" ng-class="{ disabled : vm.inProgress }" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="section">
        <div class="section-caption">Contact directly via email or phone</div>
        <div class="section-body">
            <div class="feedback-contacts">
                <div class="feedback-contact">
                    <div class="contact-desc"><i class="fa fa-envelope"></i> Email</div>
                    <div class="contact-content">
                        <p><b>Support</b></p>
                        <p><a href="mailto:{{ vm.email }}">{{ vm.email }}</a></p>
                    </div>
                </div>
                <div class="feedback-contact">
                    <div class="contact-desc"><i class="fa fa-phone"></i> Phone</div>
                    <div class="contact-content">
                        <div class="pull-left" ng-repeat="person in vm.people">
                            <p><b>{{ person.name }}</b></p>
                            <p>{{ person.phone }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
