.co-slider {
    position: relative;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-slot {
    position: relative;
    height: 28px;
    background-color: white;
    border: 1px solid @formBorderColor;
    margin-right: -18px;
    .slider-slot-fill {
        position: absolute;
        height: 100%;
        background-color: lighten(@lightBlue, 30%);
    }
}

.slider-button {
    position: absolute;
    margin-left: 0px;
    top: 0;
    left: 0%;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    width: 18px;
    height: 28px;
    background-color: @lightBlue;
    color: rgb(200,200,200);
    cursor: pointer;
}

.isw-slider-button:hover {
    color: rgb(160,160,160);
    border: 1px solid rgb(160,160,160);
}