/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


@import "../../vendor/fontawesome/less/font-awesome.less";


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */


@import "../../vendor/bootstrap/less/mixins.less";
@import "../../vendor/bootstrap/less/normalize.less";
@import "../../vendor/bootstrap/less/print.less";


@import "../../vendor/bootstrap/less/scaffolding.less";
@import "../../vendor/bootstrap/less/type.less";
@import "../../vendor/bootstrap/less/code.less";
@import "../../vendor/bootstrap/less/grid.less";
@import "../../vendor/bootstrap/less/tables.less";
@import "../../vendor/bootstrap/less/forms.less";
@import "../../vendor/bootstrap/less/buttons.less";

// Utility classes
@import "../../vendor/bootstrap/less/utilities.less";
@import "../../vendor/bootstrap/less/responsive-utilities.less";

//@import "../../vendor/bootstrap/less/utilities.less";
//@import "../../vendor/bootstrap/less/scaffolding.less";
//@import "../../vendor/bootstrap/less/type.less";
//@import "../../vendor/bootstrap/less/grid.less";
//@import "../../vendor/bootstrap/less/layouts.less";
//@import "../../vendor/bootstrap/less/navs.less";
//@import "../../vendor/bootstrap/less/navbar.less";
//@import "../../vendor/bootstrap/less/buttons.less";
//@import "../../vendor/bootstrap/less/button-groups.less";
//@import "../../vendor/bootstrap/less/dropdowns.less";

@import "../../vendor/bootstrap/less/pagination.less";
@import "../../vendor/bootstrap/less/progress-bars.less";
/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import "var.less";


/**
 * Mixins
 */

.full-height {
    height: auto !important;
    min-height: auto;
    height: 100%;
}

.gradient (@start; @end) {
    background: @start; /* Old browsers */
    background: -moz-linear-gradient(top,  @start 0%, @end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @start 0%,@end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @start 0%,@end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @start 0%,@end 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @start 0%,@end 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=%("%a", @start), endColorstr=%("%a", @end),GradientType=0 ); /* IE6-9 */
}


.shadow (@hori; @vert; @blur; @spread; @color) {
    -webkit-box-shadow:  @hori @vert @blur @spread @color;
    box-shadow:  @hori @vert @blur @spread @color;
}

.insetShadow (@hori; @vert; @blur; @spread; @color) {
    -webkit-box-shadow: inset @hori @vert @blur @spread @color;
    box-shadow: inset @hori @vert @blur @spread @color;
}

.insetHorizontal (@color; @height: 0px) {
    height: @height;
    border-top: 1px solid darken(@color, 5%);
    border-left: 1px solid darken(@color, 5%);
    border-bottom: 1px solid lighten(@color, 5%);
    border-right: 1px solid lighten(@color, 5%);
}

.outsetHorizontal (@color; @height: 0px) {
    height: @height;
    border-top: 1px solid lighten(@color, 5%);
    border-left: 1px solid lighten(@color, 5%);
    border-bottom: 1px solid darken(@color, 5%);
    border-right: 1px solid darken(@color, 5%);
}

.insetVertical (@color; @width: 0px) {
    width: @width;
    border-top: 1px solid darken(@color, 5%);
    border-left: 1px solid darken(@color, 5%);
    border-bottom: 1px solid lighten(@color, 5%);
    border-right: 1px solid lighten(@color, 5%);
}

.outsetVertical (@color; @width: 0px) {
    width: @width;
    border-top: 1px solid lighten(@color, 5%);
    border-left: 1px solid lighten(@color, 5%);
    border-bottom: 1px solid darken(@color, 5%);
    border-right: 1px solid darken(@color, 5%);
}

.inset (@color; @width: auto; @height: auto) {
    width: @width;
    height: @height;
    border-top: 1px solid darken(@color, 3%);
    border-left: 1px solid darken(@color, 3%);
    border-bottom: 1px solid lighten(@color, 3%);
    border-right: 1px solid lighten(@color, 3%);
}

.outset (@color; @width: auto; @height: auto) {
    width: @width;
    height: @height;
    border-top: 1px solid lighten(@color, 3%);
    border-left: 1px solid lighten(@color, 3%);
    border-bottom: 1px solid darken(@color, 3%);
    border-right: 1px solid darken(@color, 3%);
}

.opacity (@value) {
    -khtml-opacity: @value;
    -moz-opacity: @value;
    -webkit-opacity: @value;
    -ms-filter:"alpha(opacity=50)";
    opacity: @value;
    @opperc: @value * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    //font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: @fontColorDark;
    background-color: @contentBgColor;

}


tr, td {
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, a {
    text-decoration: none;
}

form {
    label {
        font-weight: normal;
    }
}

form {
    &.horizontal {
        display: table;
        width: 100%;
        .form-group {
            display: table-row;
            .group-label {
                display: table-cell;
                width: 40%;
                text-align: right;
                font-weight: bold;
                color: #636363;
            }
            .group-input {
                display: table-cell;
                width: 60%;
                text-align: left;
                padding: 5px 0 5px 10px;
                input {
                    width: 100%;
                }
                button {
                    margin-top: 15px;
                }
            }
        }
    }
    &.vertical {
        width: 100%;
        .form-group {
            .group-label {
                display: block;
                font-weight: bold;
                color: #636363;
            }
            .group-input {
                input, textarea {
                    width: 100%;
                }
            }
        }
    }
}

.form-element {
    height: 30px;
    border: 1px solid @formBorderColor;
}

select {
    padding: 5px;
    .form-element;
    background-color: white;
    &:focus {
        outline: 0;
        border-color: @lightBlue;
    }
}

a.button {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
button, .button {
    background-color: @ultraLightGrey;
    border: 1px solid @formBorderColor;
    padding: 5px 10px;
    .fa {
        font-size: 14px;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
    &:hover {
        background-color: darken(@ultraLightGrey, 5%);
    }
    &.primary {
        background-color: @lightBlue;
        color: white;
        border-width: 0px;
        padding: 6px 11px;
        &:hover {
            background-color: lighten(@lightBlue, 10%);
        }
    }
    &.add {
        background-color: @leafeGreen;
        color: white;
        border-width: 0px;
        padding: 6px 11px;
        &:hover {
            background-color: lighten(@leafeGreen, 5%);
        }
    }
    &.warning {
        background-color: @warningRed;
        color: white;
        border-width: 0px;
        padding: 6px 11px;
        &:hover {
            background-color: lighten(@warningRed, 10%);
        }
    }
    &.white {
        background-color: white;
        &:hover {
            background-color: darken(white, 10%);
        }
    }
    &:disabled {
        background-color: @ultraLightGrey;
        border: 1px solid @formBorderColor;
        color: @mediumGrey;
        padding: 5px 10px;
        cursor: default;
        &:hover {
            background-color: @ultraLightGrey;
        }
    }
}


.link {
    color: @lightBlue;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.checkbox-input {
    .check-box {
        float: left;
        margin-right: 10px;
    }
    .checkbox-text {
    }
}

.check-box {
    width: 20px;
    height: 20px;
    border: 1px solid @formBorderColor;
    position: relative;
    background-color: white;
    cursor: default;
    i {
        position: absolute;
        &.fa-minus {
            left: 4px;
            top: 3px;
        }
        &.fa-check {
            color: @lightBlue;
            left: 3px;
            top: 3px;
        }
    }
    &.disabled {
        background-color: @ultraLightGrey;
    }
}

textarea {
    border: 1px solid @formBorderColor;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    &:focus {
        outline: 0;
        border-color: @lightBlue;
    }
    &:required {
        outline: 0;
        box-shadow: none;
    }
}

input[type="text"], input[type="password"] {
    .form-element;
    padding: 5px;
    &:focus {
        outline: 0;
        border-color: @lightBlue;
    }
    &:required {
        outline: 0;
        box-shadow: none;
    }
    &.error {
        border-color: @warningRed;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.group {
    display: table;
    &:after {
        content: "";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
    }
}

.desc {
    color: @mediumGrey;
    font-size: 10px;
}

.light {
    color: @midGrey;
}

.small {
    font-size: 12px;
}

.badge {
    font-size: 13px;
    height: 18px;
    padding: 0 10px 0 10px;
    background-color: @badgeBgColor;
    color: @badgeColor;
}

.page-caption {
    font-size: 16px;
    margin-bottom: 10px;

}

.fill-container {
    overflow-y: visible;
    position: relative;
    margin: 0;
    padding: 0;

}

.row-label {
    color: grey;
    padding-right: 20px;
}

.tile {
    margin-bottom: 20px;
    .tile-caption {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.short-form {
    padding: 20px 40px 40px 40px;
    .title {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
    .short-form-container {
        width: 400px;
        padding: 30px;
        background-color: @ultraLightGrey;
        border: 1px solid @formBorderColor;
        margin: auto;

        .short-form-desc {
            padding: 10px;
            margin-bottom: 20px;
            color: @darkGrey;
        }

        .short-form-flash {
            background-color: rgb(255, 216, 216);
            border: 1px solid rgb(200, 25, 25);
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 3px;
        }

        .short-form-note {
            color: grey;
            margin: 20px 20px 0 20px;
        }

    }
}

.table-cell-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
    &.p5 {
        padding: 5px;
    }
}

.topbar {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0;
    background-color: @topBarBgColor;
    border-bottom: 1px solid @formBorderColor;
    display: table;
    height: 50px;
    overflow: hidden;
    &.large {
        height: 80px;
    }
    .main-logo {
        display: table-cell;
        background-image: url("/static/assets/images/logo.png");
        background-repeat: no-repeat;
        background-position: 10px 3px;
        width: 240px;
        &.logout {
            background-position: 10px 15px;
        }
    }
    .topmenu {
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
        a {
            float: left;
            color: @fontColorDisabled;
            padding: 10px;
            margin: 0 10px;
            border-bottom: 3px solid transparent;
            &:hover {
                text-decoration: none;
                color: darken(@fontColorDisabled, 10%);
            }
            &.active {
                color: @fontColor;
                border-bottom: 3px solid @lightBlue;
            }
        }
    }
    .user-info {
        display: table-cell;
        width: 200px;
        text-align: right;
        padding-right: 0px;
        vertical-align: middle;
        .user-info-name {
            color: @fontColorDisabled;
        }
        .user-expand-button {
            padding: 5px 0;
            margin: 5px;
        }
        .user-info-settings {
            display: inline-block;
            background-color: @disabledGrey;
            color: @ultraLightGrey;
            width: 31px;
            height: 31px;
            font-size: 18px;
            border-radius: 15px;
            text-align: center;
            vertical-align: middle;
            i {
                margin-top: 7px;
            }
            &:hover {
                background-color: darken(@disabledGrey, 10%);
                color: @ultraLightGrey;
            }
        }
        .user-info-logout {
            padding-left: 0;
            margin-left: 20px;
            height: 50px;
            width: 30px;
            font-size: 18px;
            color: @disabledGrey;
            border-radius: inherit;
            border-left: 1px solid @formBorderColor;
            border-width: 0 0 0 1px;
        }
    }
    .user-login {
        display: table-cell;
        text-align: right;
        padding-right: 30px;
        vertical-align: middle;
        .forgot-password-link {
            display: block;
            margin-top: 5px;
            margin-right: 90px;
            font-size: 12px;
        }
        .sign-up-button {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &.r3 {
        .topmenu {
            a {
                margin: 0;
            }
        }
        .user-info {
            width: 100px;
            .user-info-name {
                display: none;
            }
        }
    }
}


.middle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-top: 50px;
    overflow: hidden;
    &.small {
        padding-top: 81px;
    }
    &.sidebar-enabled {
        .sidebar {
            display: block;
        }
        .content {
            margin-left: @sideBarWidth;
            .page-main-content {
                height: 100%;
            }
        }
    }
    .sidebar {
        display: none;
        height: 100%;
        width: @sideBarWidth;
        border-right: 1px solid @formBorderColor;
        background-color: @sideBarBgColor;
        float: left;
        position: relative;

        .sidebar-content {
            height: 100%;
            overflow: auto;
            padding: 4px;
        }


    }

    .content {
        height: 100%;
        overflow: auto;

    }


    .page-main-container {
        display: table;
        width: 100%;
        .page-main-content {
            display: table-cell;
            vertical-align: top;
            &.narrow {
                width: 50%;
                padding-right: 10px;
            }
        }
        .page-main-extend {
            display: table-cell;
            vertical-align: top;
            width: 50%;
            padding-left: 10px;
            .fixed-extend {
                position: fixed;
                overflow: hidden;
                background-color: white;
                .page-main-extend-head {
                    background-color: @ultraLightGrey;
                    width: 100%;
                    padding: 10px;
                    height: 45px;
                    font-weight: bold;
                    .shadow (0px; 1px; 10px; 1px; @midGrey);
                }
                .page-main-extend-content {
                    width: 100%;
                    position: absolute;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 20px;
                    bottom: 0;
                    top: 45px;

                }
            }
        }
    }



    /*
    &.r3 {
        .sidebar {
            position: absolute;
            background-color: @midGrey;
            padding-right: 10px;
            &.anim.ng-enter, &.anim.ng-leave {
              -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
              -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
              -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
              transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
            }
            &.anim.ng-enter,
            &.anim.ng-leave.ng-leave-active {
              left: (@sideBarWidth * -1);
            }

            &.anim.ng-enter.ng-enter-active,
            &.anim.ng-leave {
              left: 0;
            }

        }
        .content {
            padding: 0 0 100000px 0;
            margin-left: 0;
        }
    }*/
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: @ultraLightGrey;
    border-top: 1px solid @formBorderColor;
    z-index: 2;
    a {
        color: @fontColorDisabled;
        padding: 10px;
        margin: 0 10px;
        &:hover {
            text-decoration: none;
            color: darken(@fontColorDisabled, 10%);
        }
        &.active {
            color: @lightBlue;
        }
    }
}

.page-head {
    .page-head-title-band {
        background-color: @lightBlue;
        color: white;
        width: 100%;
        display: table;
        padding: 10px;
        font-weight: bold;
        .page-head-sidebar-expander {
            display: table-cell;
            width: 30px;
            font-size: 18px;
            text-align: left;
            cursor: pointer;
        }
        .page-head-expander {
            display: table-cell;
            width: 20px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }
        .page-head-title {
            display: table-cell;
        }
    }

    .page-head-controls {
        position: relative;
        padding: 10px;
        width: 100%;

    }
}


.top-glosbe-link {
    display: inline-block;
    color: @darkGrey;
    float: left;
    img {
        width: 24px;
    }
    .cap {
        margin-bottom: 0px;
        margin-top: 5px;
        color: @mediumGrey;
        font-size: 10px;

    }
    &:hover {
        text-decoration: none;
    }
    &.logout {
        margin-top: 15px;
    }
}


.sections-container {
    padding: 40px;
    .section {
        margin-bottom: 20px;
        .section-caption {
            font-size: 18px;
        }
        .section-description {
            margin: 10px 0;
        }
        .section-body {
            margin: 10px 0;
            padding: 0 10px;
        }
    }
}


@import "../../app/common/widgets/slider/less/slider.less";
@import "../../app/common/widgets/checkbox/less/checkbox.less";
@import "../../app/common/widgets/pagination/less/pagination.less";
@import "../../app/common/widgets/rating/less/rating.less";
@import "../../app/common/widgets/wait-icon/less/wait-icon.less";
@import "../../app/common/widgets/modal/less/modal.less";
@import "../../app/common/widgets/menu/less/menu.less";

@import "../../app/common/behavior/scroll-anchor/less/scroll-anchor.less";

@import "../../app/auth/less/changePassword.less";
@import "../../app/auth/less/register.less";
@import "../../app/auth/less/reset.less";
@import "../../app/auth/less/welcome.less";
@import "../../app/auth/less/login.less";
@import "../../app/auth/less/settings.less";
@import "../../app/terminology/less/terminology.less";
@import "../../app/ne/less/ne.less";
@import "../../app/legal/less/legal.less";
@import "../../app/feedback/less/feedback.less";
@import "../../app/documents/less/documents.less";
@import "../../app/sessions/less/sessions.less";
