/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;


/**
 * Colors
 */

@white: rgb(255,255,255);
@darkerGrey: rgb(30,30,30);
@darkGrey: rgb(80,80,80);
@nearWhite: rgb(250,250,250);
@lighterGrey: rgb(230,230,230);
@ultraLightGrey: rgb(245,245,245);
@lightGrey: rgb(230,230,230);
@mediumGrey: #8d8d8d;
@disabledGrey: rgb(120,120,120);
@lightBlue: #428dcb;
@euroYellow: #E7B000;
@leafeGreen: #5FBE28;
@warningRed: #F20056;
@ultraLightBlue: #e5eeff;

/**
 * Main Layout
 */

@contentBgColor: @white;

@topBarBgColor: @ultraLightGrey;
@footerBgColor: @ultraLightGrey;

@sideBarBgColor: @white;
@sideBarWidth: 200px;

@formBorderColor: #d3d3d3;


@tableBarColor: @lightBlue;
@tableHeadHoverColor: @lightBlue;

@badgeBgColor: @darkGrey;
@badgeColor: @ultraLightGrey;

@pdfBgColor: @darkGrey;





@fontColor: @darkGrey;
@fontColorDark: @darkGrey;
@fontColorDisabled: #999999;
@fontColorBright: #ebebeb;
@topBar: #30547a;
@selectColor: #369cec;


@midGrey: #b1b1b1;
@darkBlue: #7d9c9f;
@midBlue: #bdd8da;
@accentColor: #ad235e;

@borderColor: rgb(200,200,200);

