.co-checkbox {
    position: relative;
    display: inline-block;
    margin: 3px;
    border: 1px solid @borderColor;
    width: 20px;
    height: 20px;
    font-size: 13px;
    background-color: @ultraLightGrey;
    i {
        position: absolute;
        left: 3px;
        top: 3px;
    }
    &:hover {
        border-color: (@borderColor - #111);
        background-color: white;
    }
    &.checked {
        background-color: white;
    }
    &.unchecked {
    }
    &.partchecked {
        background-color: white;
    }
}