<div class="file-browser">
    <div class="file-browser-head">

        <div class="file-browser-multi-selector" ng-if="vm.items.length > 0">
            <div class="check-box" ng-class="{ '0': 'unchecked', '1': 'checked', '2': 'partchecked' }[vm.checkAllState]" ng-click="vm.toggleAll()">
                <i ng-if="vm.checkAllState===1" class="fa fa-check"></i>
                <i ng-if="vm.checkAllState===2" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="file-browser-options" ng-if="vm.numberOfSelectedItems > 0">
            <div class="file-browser-option" ng-click="vm.deleteSelected()"><i class="fa fa-trash-o"></i></div>
            <div class="file-browser-option" ng-click="vm.showMultiMenu($event)"><i class="fa fa-ellipsis-v"></i></div>
        </div>
        <div class="file-browser-computes" ng-if="vm.numberOfSelectedItems > 0">
            <div class="file-browser-compute" ng-click="vm.startTerminologyList()"><i class="fa fa-tasks"></i> Terminology</div>
            <div ng-if="vm.selectionMode===vm.SelectionMode.DOC" class="file-browser-compute" ng-click="vm.startNamedEntities()"><i class="fa fa-tags"></i> NE</div>
        </div>
        <div class="file-browser-sort-select" ng-if="vm.viewMode === vm.ViewMode.ICONS && vm.items.length > 0">
            <select ng-model="vm.sortOption.selected" ng-options="o.label for o in vm.sortOptions"></select>
        </div>
        <div class="file-browser-viewmode-select">
            <div class="file-browser-viewmode" ng-click="vm.changeViewMode(vm.ViewMode.TABLE)" ng-class="{ selected: vm.viewMode === vm.ViewMode.TABLE }"><i class="fa fa-bars"></i></div>
            <div class="file-browser-viewmode" ng-click="vm.changeViewMode(vm.ViewMode.ICONS)" ng-class="{ selected: vm.viewMode === vm.ViewMode.ICONS }"><i class="fa fa-th"></i></div>
        </div>

    </div>
    <div class="file-browser-navi">
        <div class="path-navi" dir="vm.base"></div>
    </div>

    <div class="file-browser-body" ui-view="docs-browser">


        <div class="file-browser-empty" ng-if="vm.items.length === 0">
            <div class="empty-message">
                <div class="empty-message-top">[ ]</div>
                <div class="empty-message-body">This folder is empty.</div>
            </div>
        </div>

        <div class="file-grid" ng-if="vm.viewMode === vm.ViewMode.ICONS && vm.items.length > 0">
            <div ng-click="vm.select(item)" title="{{ item.name }}" class="file-icon" ng-repeat="item in vm.items" ng-class="{ 'selected': item.selected }">
                <div class="file-icon-table">
                    <div class="file-icon-img">

                        <img ng-src="/static/assets/images/{{ item.imgPrefix }}48.png"><!--
                        <img ng-src="/static/file.svg" style="width:48px;height:48px">-->
                        <div class="file-comp" ng-if="item.isBusy">
                            <div class="file-comp-imgs">
                                <img ng-src="/static/assets/images/{{ item.conversionImg }}">
                                <img ng-src="/static/assets/images/{{ item.terminologyImg }}">
                                <img ng-src="/static/assets/images/{{ item.neImg }}">
                            </div>
                        </div>
                    </div>
                    <div class="file-icon-controls">
                        <div class="single-selector check-box" ng-class="{ 'checked': item.selected }" ng-click="vm.toggle($event, item)">
                            <i ng-if="item.selected" class="fa fa-check"></i>
                        </div>
                        <div class="options-button" ng-click="vm.showSingleMenu($event, item)">
                            <i class="fa fa-ellipsis-v fa-fw"></i>
                        </div>
                    </div>
                </div>
                <a href="{{ item.link }}" target="{{ item.target }}" class="file-icon-name">{{ item.name }}</a>
            </div>
        </div>


        <table class="file-table" ng-if="vm.viewMode === vm.ViewMode.TABLE && vm.items.length > 0">
            <colgroup class="file-table-colgroup">
                <col class="file-table-col select"></col>
                <col class="file-table-col options"></col>
                <col class="file-table-col comp"></col>
                <col class="file-table-col lang"></col>
                <col class="file-table-col name"></col>
                <col class="file-table-col size"></col>
                <col class="file-table-col type"></col>
                <col class="file-table-col modified"></col>
            </colgroup>
            <thead class="file-table-head">
                <tr class="file-table-header">
                    <th class="file-table-cell"></th>
                    <th class="file-table-cell"></th>
                    <th class="file-table-cell"></th>
                    <th class="file-table-cell"></th>
                    <th class="file-table-cell sortable" ng-click="vm.sort(0)" ng-class="{ 'selected': vm.sortIndex === 0}">Name <i ng-if="vm.sortIndex === 0" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                    <th class="file-table-cell sortable" ng-click="vm.sort(1)" ng-class="{ 'selected': vm.sortIndex === 1}">Size <i ng-if="vm.sortIndex === 1" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                    <th class="file-table-cell sortable" ng-click="vm.sort(2)" ng-class="{ 'selected': vm.sortIndex === 2}">Type <i ng-if="vm.sortIndex === 2" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                    <th class="file-table-cell sortable" ng-click="vm.sort(3)" ng-class="{ 'selected': vm.sortIndex === 3}">Modified <i ng-if="vm.sortIndex === 3" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                </tr>
            </thead>
            <tbody class="file-table-body">
                <tr ng-repeat="item in vm.items" class="file-table-row" ng-click="vm.select(item)" ng-class="{ selected : item.selected }">
                    <td class="file-table-cell item-select" ng-click="vm.toggle($event, item)">
                        <div class="single-selector check-box" ng-class="{ 'checked': item.selected }">
                            <i ng-if="item.selected" class="fa fa-check"></i>
                        </div>
                    </td>
                    <td class="file-table-cell options">
                        <div class="options-button" ng-click="vm.showSingleMenu($event, item)">
                            <i class="fa fa-ellipsis-v"></i>
                        </div>
                    </td>
                    <td class="file-table-cell comp">
                        <div class="file-comp-imgs" ng-if="item.type === vm.FileType.DOC || item.type === vm.FileType.REPORT">
                            <img ng-src="/static/assets/images/{{ item.conversionImg }}">
                            <img ng-src="/static/assets/images/{{ item.terminologyImg }}">
                            <img ng-src="/static/assets/images/{{ item.neImg }}">
                            <img ng-src="/static/assets/images/{{ item.translateImg }}">
                        </div>
                    </td>
                    <td class="file-table-cell lang">
                        <div class="file-lang" ng-if="item.type === vm.FileType.DOC || item.type === vm.FileType.REPORT" ng-class="{ 'no-lang': !item.language }">
                            <span>{{ (item.language ? item.language.tag : '?') | uppercase }}</span>
                        </div>
                    </td>
                    <td class="file-table-cell name">
                        <a title="{{ item.name }}" href="{{ item.link }}" target="{{ item.target }}">
                            <img ng-src="/static/assets/images/{{ item.imgPrefix }}16.png">{{ item.name }}
                        </a>
                    </td>
                    <td class="file-table-cell">{{ item.printSize }}</td>
                    <td class="file-table-cell">{{ item.printType }}</td>
                    <td class="file-table-cell">{{ item.printModified }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
