<div class="copy-modal">
    <div class="modal-head">
        <span class="text">{{vm.remove ? "Move" : "Copy"}}</span>
    </div>
    <div class="modal-content">
        <div class="selection-files">
            <div class="selection-files-icons" ng-class="{ mixed: vm.selectionMode === vm.SelectionMode.MIXED }">
                <img class="folder-icon" ng-if="vm.selectionMode === vm.SelectionMode.DIRS || vm.selectionMode === vm.SelectionMode.DIR || vm.selectionMode === vm.SelectionMode.MIXED" ng-src="/static/assets/images/folder48.png">
                <img class="file-icon" ng-if="vm.selectionMode === vm.SelectionMode.DOCS || vm.selectionMode === vm.SelectionMode.DOC || vm.selectionMode === vm.SelectionMode.MIXED" ng-src="/static/assets/images/file48.png">
            </div>
            <div class="selection-files-text">
                <span ng-if="vm.selectionMode === vm.SelectionMode.DIR">{{ vm.directories[0].name }}</span>
                <span ng-if="vm.selectionMode === vm.SelectionMode.DOC">{{ vm.documents[0].name }}</span>
                <span ng-if="vm.selectionMode === vm.SelectionMode.DIRS"><span class="number">{{ vm.directories.length }}</span> directories</span>
                <span ng-if="vm.selectionMode === vm.SelectionMode.DOCS"><span class="number">{{ vm.documents.length }}</span> documents</span>
                <span ng-if="vm.selectionMode === vm.SelectionMode.MIXED"><span class="number">{{vm.documents.length }}</span> documents, <span class="number">{{ vm.directories.length }}</span> directories</span>
            </div>
        </div>
        <div class="copy-tree-container">
            <dir-tree on-select="vm.onDirSelect" selected-id="vm.baseId"></dir-tree>
        </div>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.copy()">{{vm.remove ? "Move" : "Copy"}}</button>
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
