<div class="create-dir-modal">
    <form ng-submit="vm.create()">
        <div class="modal-head">
            <span class="text">New Folder</span>
        </div>
        <div class="modal-content">
            <input id="createDirInput" type="text" ng-model="vm.dirName">
        </div>
        <div class="modal-foot">
            <button class="primary" type="submit">Create</button>
            <button ng-click="vm.closeModal()">Cancel</button>
        </div>
    </form>
</div>
