<div class="documents-sidebar">
    <table class="documents-sidebar-controls">
        <tr class="control-row">
            <td>
                <button class="create-dir-control" ng-click="vm.showCreateDirModal()"><i class="fa fa-plus"></i>Folder</button>
                <button class="add-report-control" ng-click="vm.startReportSelect()"><i class="fa fa-plus"></i>Plenary</button>
                <button class="add-report-control" ng-click="vm.startCommitteeSelect()"><i class="fa fa-plus"></i>Committee</button>
            </td>
            <td>
                <button class="upload-control add" ng-click="vm.showUploadModal()"><i class="fa fa-upload"></i>Upload</button>
                <button class="webdav-control primary" ng-click="vm.showWebDavModal()"><i class="fa fa-cloud"></i>WebDAV</button>
            </td>
        </tr>
    </table>
    <div class="tree-container">
        <dir-tree on-select="vm.onDirSelect" selected-id="vm.directoryId"></dir-tree>
    </div>
</div>
