<div class="enable-logging-modal">
    <div class="modal-head">
        <i class="icon fa fa-bar-chart"></i>
        <span class="text">Enable Logging</span>
    </div>
    <div class="modal-content">
        <div class="desc">
            <p>In Order to improve this platform, we would like to log and analise some user-specific events. Everything that we log has the sole purpose to give us some feedback about how users use this application. We will use the gained knowledge, to improve our tool in order to make it a better experience for you, the user.</p>
            <p>The following data would be logged:</p>
            <ul>
                <li>device information (what operating system and what browser you are using)</li>
                <li>clicks (when you click on what element on what position on the screen)</li>
                <li>page change (when you switch from one page to another page within our application)
            </ul>
            <p>Would you like to enable logging now? (You can change this setting at any point in the future within the Settings section)</p>
            <table class="enable-logging-buttons">
                <colgroup>
                    <col width="50%"></col>
                    <col width="50%"></col>
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            <button class="primary" ng-click="vm.close(true)">
                                <h2>Yes!</h2>
                                <p>I would like to enable logging.</p>
                            </button>

                        </td>
                        <td>
                            <button ng-click="vm.close(false)">No, thank you.</button>                    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-foot">
    </div>
</div>
