<div>
    <div class="modal-head">
        <i class="icon fa fa-cloud"></i>
        <span class="text">WebDAV Support</span>
    </div>
    <div class="modal-content">
        <div class="desc">
            <p>The current version of the Interpreter Support Tool allows for an additional way to import files into the personal file space. You can now upload files to a seperate WebDAV Server by using the <a target="_blank" href="http://en.wikipedia.org/wiki/WebDAV#Clients">WebDAV Client</a> of your choice, i.e. the one that comes with GoodReader.</p>
            <p>To access your WebDAV directory from within the client, you only need the following URL and your Interpreter Support Tool credentials:</p>
            <p><a target="_blank" href="{{ vm.webdavLink }}">{{ vm.webdavLink }}</a></p>
            <p>You can transfer files from your WebDAV directory to your personal file space by clicking on the <b>WebDAV</b> icon in the file browser.</p>
            <p>With WebDAV support, you are now able to upload files from you iPad, by using any app, that supports WebDAV (i.e. GoodReader).</p>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.close()">Close</button>
    </div>
</div>
