<div class="rename-modal">
    <div class="modal-head">
        <span class="text">Rename</span>
    </div>
    <div class="modal-content">
        <div class="rename-table">
            <div class="rename-file-icon">
                <img class="folder-icon" ng-if="vm.item.fileType === vm.FileType.DIR" ng-src="/static/assets/images/folder48.png">
                <img class="file-icon" ng-if="vm.item.fileType === vm.FileType.DOC" ng-src="/static/assets/images/file48.png">
                <img class="file-icon" ng-if="vm.item.fileType === vm.FileType.REPORT" ng-src="/static/assets/images/report48.png">
            </div>
            <div class="rename-file-text">
                <input id="renameModalInput" ng-model="vm.itemName">
            </div>
        </div>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.rename()">Rename</button>
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
