<div class="upload-modal">
    <div class="modal-head">
        <span class="text">Upload</span>
    </div>
    <div class="modal-content">
        <div class="upload-files">
            <div title="{{ uf.name }}" class="upload-file" ng-repeat="(key, uf) in vm.uploadFiles">
                <div ng-if="vm.progressEnabled === true" class="progressbar" ng-style="uf.style"></div>
                <div ng-if="vm.progressEnabled !== true && uf.isUploading" class="spinner"></div>
                <div class="uf-name">{{ uf.name }}</div>
                <div class="remove-icon" ng-click="vm.remove(key)">X</div>
            </div>
        </div>
    </div>
    <div class="modal-foot">
        <span class="button add fileinput-button" title="add files that you want to upload">
            <i class="fa fa-plus"></i>
            <span> Add</span>
            <input id="doc-upload" class="co-upload" add="vm.add(e, data)" done="vm.done(e, data)" progress="vm.progress(e, data)" type="file" name="files[]" data-url="/documents/upload/" multiple>
        </span>
        <button class="primary" title="start uploading files" ng-click="vm.startUpload()"><i class="fa fa-upload"></i> Upload</button>
        <button ng-click="vm.closeModal()">Close</button>
    </div>
</div>
