<div class="upload-modal">
    <div class="modal-head">
        <span class="text">WebDAV Content</span>
    </div>
    <div class="modal-content">
        <div class="webdav-file-browser-empty" ng-if="vm.items.length === 0">
            <div class="empty-message" ng-if="vm.initialized">
                <div class="empty-message-top">[ ]</div>
                <div class="empty-message-body">
                    <p>There are no files in your WebDAV directory. You can upload files by using any WebDAV client i.e. the one included in GoodReader. Use the following URL and your Interprept credentials, to access your WebDAV directory from within the client:</p>
                    <p><a target="_blank" href="{{ vm.webdavLink }}">{{ vm.webdavLink }}</a></p>
                    <p>Uploaded files will become available at this location, to transfer them to your file space.</p>
                </div>
            </div>
            <div class="empty-message" ng-if="!vm.initialized">
                <div class="empty-message-top">[ ]</div>
                <div class="empty-message-body">
                    <p>This function has not been enabled for you yet. To enable WebDAV support for your account, the only thing you need to do, is to perform a fresh login. Afterwards you will get additional information on how to use WebDAV to upload files to our system.</p>
                </div>
            </div>
        </div>
        <div class="webdav-file-browser" ng-if="vm.items.length > 0">
           <table class="webdav-file-table">
                <colgroup class="webdav-file-table-colgroup">
                    <col class="webdav-file-table-col select"></col>
                    <col class="webdav-file-table-col name"></col>
                    <col class="webdav-file-table-col size"></col>
                    <col class="webdav-file-table-col modified"></col>
                </colgroup>
                <thead class="webdav-file-table-head">
                    <tr class="webdav-file-table-header">
                        <th class="webdav-file-table-cell">
                            <div class="check-box" ng-class="{ '0': 'unchecked', '1': 'checked', '2': 'partchecked' }[vm.checkAllState]" ng-click="vm.toggleAll()">
                                <i ng-if="vm.checkAllState===1" class="fa fa-check"></i>
                                <i ng-if="vm.checkAllState===2" class="fa fa-minus"></i>
                            </div>
                        </th>
                        <th class="webdav-file-table-cell sortable" ng-click="vm.sort(0)" ng-class="{ 'selected': vm.sortIndex === 0}">Name <i ng-if="vm.sortIndex === 0" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                        <th class="webdav-file-table-cell sortable" ng-click="vm.sort(1)" ng-class="{ 'selected': vm.sortIndex === 1}">Size <i ng-if="vm.sortIndex === 1" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                        <th class="webdav-file-table-cell sortable" ng-click="vm.sort(2)" ng-class="{ 'selected': vm.sortIndex === 2}">Modified <i ng-if="vm.sortIndex === 2" ng-class="{'ascending':'fa fa-caret-up', 'descending':'fa fa-caret-down'}[vm.sortDirection]"></i></th>
                    </tr>
                </thead>
                <tbody class="webdav-file-table-body">
                    <tr ng-repeat="item in vm.items" class="webdav-file-table-row" ng-click="vm.select(item)" ng-class="{ selected : item.selected }">
                        <td class="webdav-file-table-cell item-select">
                            <div class="single-selector check-box" ng-class="{ 'checked': item.selected }" ng-click="vm.toggle($event, item)">
                                <i ng-if="item.selected" class="fa fa-check"></i>
                            </div>
                        </td>
                        <td class="webdav-file-table-cell">{{ item.name }}</td>
                        <td class="webdav-file-table-cell">{{ item.printSize }}</td>
                        <td class="webdav-file-table-cell">{{ item.printModified }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-if="vm.items.length > 0" class="primary" title="transfer selected files to file space and delete them on the WebDAV server." ng-click="vm.startTransfer()"><i class="fa fa-cloud-download"></i> Transfer</button>
        <button ng-if="vm.items.length > 0" class="warning" title="delete selected files on the WebDAV server." ng-click="vm.deleteSelectedItems()"><i class="fa fa-trash-o"></i> Delete</button>
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
