.committee-select-organs-modal {
    width: 400px;
    .committee-organs-container {
        background-color: white;
        border: 1px solid @formBorderColor;
        height: 298px;
        overflow: auto;
        .organ-table {
            width: 100%;
            .organ {
                cursor: default;
                .organ-label-cell {
                    width: 80px;
                    padding: 5px;
                    .organ-label {
                        text-align: center;
                        background-color: @euroYellow;
                        padding: 5px;
                    }
                }

                .organ-name-cell {
                    text-align: left;
                }
                &:hover {
                    background-color: @ultraLightGrey;
                }
            }
        }

    }
}

.committee-select-days-modal {
    width: 400px;
    .committee-days-top {
        display: table;
        width: 100%;
        margin-bottom: 5px;
        .committee-days-title {
            display: table-cell;
            text-align: center;
            border: 1px solid darken(@ultraLightBlue, 10%);
            background-color: @ultraLightBlue;
        }
        .committee-days-navcell {
            display: table-cell;
            width: 103px;
            &.left {
                text-align: left;
            }
            &.right {
                text-align: right;
            }

        }

    }
    .committee-days-container {
        background-color: white;
        border: 1px solid @formBorderColor;
        height: 298px;
        overflow: auto;
        .committee-days-month {
            display: table;
            width: 100%;
            margin-bottom: -1px;
            border-bottom: 1px solid @formBorderColor;
            .month-title {
                display: table-cell;
                width: 50px;
                padding: 10px;
                vertical-align: middle;

            }
            .month-dates {
                display: table-cell;
                vertical-align: middle;
                padding-left: 5px;
                border-left: 1px solid @formBorderColor;
                .month-date {
                    text-align: center;
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 30px;
                    margin-left: 3px;
                }
            }
        }
    }
}


.committee-select-docs-modal {
    width: 600px;
    .committee-top {
        width: 100%;
        margin-bottom: 5px;
        .committee-date {
            padding: 5px;
            text-align: center;
            border: 1px solid darken(@ultraLightBlue, 10%);
            background-color: @ultraLightBlue;
        }
    }
    .docs-container {
        background-color: white;
        border-top: 1px solid @formBorderColor;
        border-bottom: 1px solid @formBorderColor;
        height: 298px;
        overflow: auto;
        padding: 0 5px;
        .doc-table {
            width: 100%;
            .doc {
                .doc-main {
                    .doc-title {
                        font-weight: bold;
                    }
                    .doc-properties {
                        font-size: 10px;
                        .prop-name {
                            color: @mediumGrey;
                            padding-right: 5px;
                        }
                    }
                }
                border-bottom: 1px solid @formBorderColor;
                &:last-child {
                    border-bottom-width: 0px;
                }
                .doc-langs {
                    width: 59px;
                    padding-top: 5px;
                    .doc-lang {
                        position: relative;
                        display: inline-block;
                        padding: 5px;
                        margin: 2px;
                        width: 55px;
                        height:70px;
                        border: 1px solid @formBorderColor;
                        
                        &:hover {
                            background-color: @ultraLightGrey;
                        }
                        &.selected {
                            border: 1px solid darken(@ultraLightBlue, 10%);
                            background-color: @ultraLightBlue;
                        }
                        .lang-tag {
                            position: absolute;
                            right: 7px;
                            top: 7px;
                        }
                        a {
                            position: absolute;
                            padding: 5px;
                            width: 45px;
                            left: 4px;
                            bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}

.report-select-days-modal {
    width: 400px;
    .session-days-top {
        display: table;
        width: 100%;
        margin-bottom: 5px;
        .session-days-title {
            display: table-cell;
            text-align: center;
            border: 1px solid darken(@ultraLightBlue, 10%);
            background-color: @ultraLightBlue;
        }
        .session-days-navcell {
            display: table-cell;
            width: 103px;
            &.left {
                text-align: left;
            }
            &.right {
                text-align: right;
            }

        }

    }
    .session-days-container {
        background-color: white;
        border: 1px solid @formBorderColor;
        height: 298px;
        overflow: auto;
        .session-days-month {
            display: table;
            width: 100%;
            margin-bottom: -1px;
            border-bottom: 1px solid @formBorderColor;
            .month-title {
                display: table-cell;
                width: 50px;
                padding: 10px;
                vertical-align: middle;

            }
            .month-dates {
                display: table-cell;
                vertical-align: middle;
                padding-left: 5px;
                border-left: 1px solid @formBorderColor;
                .month-date {
                    text-align: center;
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 30px;
                    margin-left: 3px;
                }
            }
        }
    }
}

.report-select-procedures-modal {
    width: 600px;
    .sessions-top {
        width: 100%;
        margin-bottom: 5px;
        .sessions-date {
            padding: 5px;
            text-align: center;
            border: 1px solid darken(@ultraLightBlue, 10%);
            background-color: @ultraLightBlue;
        }

    }
    .sessions-container {
        background-color: white;
        border-top: 1px solid @formBorderColor;
        border-bottom: 1px solid @formBorderColor;
        height: 298px;
        overflow: auto;
        .session {
            display: table;
            width: 100%;
            .sessions-table-colgroup {
                .sessions-table-col {
                    &.main {
                        
                    }
                    &.langs {
                        width: 64px;
                    }
                }
            }
            .session-title {
                font-weight: bold;
                padding: 5px;
                color: @ultraLightGrey;
                background-color: @lightBlue;
            }
            tbody {
                tr {
                    border-bottom: 1px solid @formBorderColor;
                    &:last-child {
                        border-bottom-width: 0;
                    }
                    .report-langs {
                        padding-top: 5px;
                        .report-lang {
                            position: relative;
                            display: inline-block;
                            padding: 5px;
                            margin: 2px;
                            width: 55px;
                            height:70px;
                            border: 1px solid @formBorderColor;
                            
                            &:hover {
                                background-color: @ultraLightGrey;
                            }
                            &.selected {
                                border: 1px solid darken(@ultraLightBlue, 10%);
                                background-color: @ultraLightBlue;
                            }
                            .lang-tag {
                                position: absolute;
                                right: 7px;
                                top: 7px;
                            }
                            a {
                                position: absolute;
                                padding: 5px;
                                width: 45px;
                                left: 4px;
                                bottom: 4px;
                            }
                        }
                    }
                    .report-main {
                        padding: 5px 0;
                        .session-procedure {
                            &.child {
                                padding-left: 20px;
                            }
                            .procedure-title {


                            }
                            .procedure-report {
                                .procedure-report-key {
                                    position: relative;
                                    z-index: 2;
                                    background-color: @euroYellow;
                                    padding: 3px 5px;
                                    color: white;
                                    font-weight: bold;
                                    display: inline-block;
                                    margin: 5px 0;
                                    cursor: pointer;
                                    i {
                                        margin-left: 5px;
                                    }
                                }
                                .procedure-report-details {
                                    position: relative;
                                    border: 1px solid @formBorderColor;
                                    padding: 30px 5px 5px 5px;
                                    margin: -28px 20px 5px 0;
                                    background-color: @ultraLightGrey;
                                    .procedure-report-date {
                                        position: absolute;
                                        font-size: 10px;
                                        top: 0;
                                        right: 0;
                                    }
                                    .procedure-report-links {
                                        margin: 5px 0;
                                        text-align: right;
                                    }
                                }
                            }
                            .procedure-item {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

        }
    }
}

.procedure-details-frame {
    padding: 30px;
    background-color: white;
    .procedure-top {
        display: table;
        border-bottom: 1px solid @formBorderColor;
        margin-bottom: 10px;
        padding-bottom: 5px;
        width: 100%;
        .procedure-title {
            color: @lightBlue;
            display: table-cell;
            font-size: 18px;
        }
        .procedure-date {
            width: 100px;
            font-size: 12px;
            text-align: right;
            display: table-cell;
        }
    }
    .procedure-info {
        display: table;
        margin-bottom: 10px;
        .procedure-session, .procedure-persons, .procedure-organs {
            display: table-row;
            div {
                display: table-cell;
                &:first-child {
                    color: grey;
                    padding: 5px 10px;
                }
            }
        }
    }
    .report-info {
        border: 1px solid @formBorderColor;
        padding: 10px;
        position: relative;
        .no-report {
            color: grey;
        }
        .report {
            position: relative;
            .report-date {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 12px;
            }
            .report-key {
                display: inline-block;
                font-weight: bold;
                color: @ultraLightGrey;
                padding: 2px 5px;
                background-color: @euroYellow;
            }
            .report-title {
                margin-top: 10px;
            }
            .report-no-title {
                color: grey;
                margin-top: 10px;
            }
            .report-no-text {
                margin-top: 10px;
                border: 1px solid @formBorderColor;
                font-size: 12px;
                padding: 10px;
                i {
                    color: red;
                }
            }
            .report-bottom {
                margin-top: 10px;
                text-align: right;
            }
        }
    }
}

.session-days-frame {
    padding: 30px;
    .session-days-top {
        display: table;
        width: 100%;
        margin-bottom: 20px;
        .session-days-title {
            display: table-cell;
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
        }
        .session-days-navcell {
            display: table-cell;
            width: 80px;
            &.left {
                text-align: left;
                .sessions-year-button {
                    i {
                        margin-right: 10px;
                    }
                }
            }
            &.right {
                text-align: right;
                .sessions-year-button {
                    i {
                        margin-left: 10px;
                    }
                }
            }

        }

    }
    .session-days-container {
        background-color: white;
        border: 1px solid @formBorderColor;
        padding: 20px;
        .session-days-month {
            display: table;
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid @formBorderColor;
            .month-title {
                display: table-cell;
                width: 50px;
                padding: 10px;

                vertical-align: middle;
            }
            .month-dates {
                display: table-cell;
                vertical-align: middle;
                padding-left: 5px;
                border-left: 1px solid @formBorderColor;
                .month-date {
                    background-color: @lightBlue;
                    color: @ultraLightGrey;
                    padding-top: 4px;
                    text-align: center;
                    margin: 2px;
                    float: left;
                    width: 30px;
                    height: 30px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.document-assign-frame {
    padding: 30px;
   .document-assign-container {
        width: 100%;
        .cell-titles {
            width: 100%;
            .cell-title {
                padding: 0 10px;
                width: 50%;
                float: left;
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .cell-buttons {
            width: 100%;
            padding-top: 10px;
            .cell-button {
                padding: 0 10px;
                width: 50%;
                float: left;
                text-align: left;
                &:first-child {
                    text-align: right;
                }
                button {
                    font-size: 24px;
                    color: @lightBlue;
                    height: auto;
                    padding: 5px 15px;
                }
            }
        }
        .cell-content {
            width: 100%;

            .document-cell {
                float: left;
                vertical-align: top;
                padding: 0px 10px;
                width: 50%;

                .procedure-document-container, .user-document-container {
                    display: block;
                    position: relative;
                    overflow: auto;
                    background-color: white;
                    color: @darkGrey;
                    border: 1px solid @formBorderColor;
                    height: 300px;
                    .user-document, .procedure-document {
                        height: 30px;
                        cursor: default;
                        position: relative;
                        overflow: hidden;
                        .selected-box {
                            width: 5px;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        .document-name  {
                            position: absolute;
                            left: 5px;
                            top: 0;
                            padding: 5px 0 0 10px;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        .fa {
                            display: none;
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            font-size: 20px;
                            color: rgb(70, 170, 70);
                        }
                        &:hover {
                            background-color: darken(white, 2%);
                            .selected-box {
                                background-color: darken(white, 10%);
                            }
                        }
                        &.selected {
                            background-color: lighten(@lightBlue, 30%);
                            .selected-box {
                                background-color: @lightBlue;
                            }
                        }
                        &.assigned {
                            color: grey;
                            .selected-box {
                                background-color: white;
                            }
                            .fa {
                                display: block;
                            }
                        }
                    }
                }
            }
        }


    }
 }

.sessions-frame {
    padding: 30px;
    .sessions-year-button {
        float: left;
        margin-right: 20px;
        i {
            margin-right: 10px;
        }
    }
    .sessions-date {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .sessions-container {
        .session {
            background-color: white;
            border: 1px solid @formBorderColor;
            margin-bottom: 20px;
            .session-title {
                font-size: 16px;
                font-weight: bold;
                padding: 10px;
                color: @ultraLightGrey;
                background-color: @lightBlue;
            }
            .procedure-container {
                padding: 20px;
                .procedureGroup {
                    border-bottom: 1px solid @formBorderColor;
                    .procedureGroup-title {
                        margin-bottom: 5px;
                    }
                    .procedureGroup-content {
                        padding-left: 20px;
                        .procedure {
                            display: block;
                            border-bottom: 1px solid @formBorderColor;
                            color: inherit;
                            .procedure-title {
                                margin-bottom: 5px;
                            }
                            .procedure-item {
                                color: grey;
                                margin-left: 10px;
                            }
                            &:last-child {
                                border-bottom-width: 0px;
                            }
                            &:hover {
                                background-color: @ultraLightGrey;
                                text-decoration: none;
                                color: inherit;
                                .procedure-title {
                                    color: @lightBlue;
                                }
                            }
                        }

                    }
                    &:last-child {
                        border-bottom-width: 0px;
                    }
                    &.fake {
                        padding: 0px;
                        .procedureGroup-content {
                            padding-left: 0;
                        }
                    }

                }

            }
        }
    }
}

.sidebar-small {
    .sidebar-small-link-container {
        font-size: 18px;
        padding: 8px;
        a {
            display: block;
            width: 42px;
            height: 42px;
            color: @midGrey;
            padding: 5px;
            background-repeat:no-repeat;
            background-position: 5px 5px;
        }

    }
}

.debate-icon {
    background-image: url("/static/assets/images/debate_icon.off.png");
    &:hover {
       background-image: url("/static/assets/images/debate_icon.hover.png");
    }
    &.active {
        background-image: url("/static/assets/images/debate_icon.on.png");
    }
}
.terminology-icon {
    background-image: url("/static/assets/images/terminology_icon.off.png");
    &:hover {
       background-image: url("/static/assets/images/terminology_icon.hover.png");
    }
    &.active {
        background-image: url("/static/assets/images/terminology_icon.on.png");
    }
}
.ne-icon {
    background-image: url("/static/assets/images/ne_icon.off.png");
    &:hover {
       background-image: url("/static/assets/images/ne_icon.hover.png");
    }
    &.active {
        background-image: url("/static/assets/images/ne_icon.on.png");
    }
}
.hdd-icon {
    background-image: url("/static/assets/images/hdd_icon.off.png");
    &:hover {
       background-image: url("/static/assets/images/hdd_icon.hover.png");
    }
    &.active {
        background-image: url("/static/assets/images/hdd_icon.on.png");
    }
}
.live-icon {
    background-image: url("/static/assets/images/live_icon.off.png");
    &:hover {
       background-image: url("/static/assets/images/live_icon.hover.png");
    }
    &.active {
        background-image: url("/static/assets/images/live_icon.on.png");
    }
}
.settings-icon {
    background-image: url("/static/assets/images/settings_icon.on.png");
}

.sidebar {
    .sidebar-link-container {
        font-size: 18px;
        width: 100%;
        padding: 20px 20px 0 20px;
        .sidebar-navi {
            a {
                display: inline-block;
                width: 42px;
                height: 42px;
                color: @midGrey;
                padding: 5px;
                background-repeat:no-repeat;
                background-position: 5px 5px;
            }
        }


    }


    .sidebar-session {
        margin: 10px 0;
        background-color: white;
        border: 1px solid @lightGrey;
        position: relative;
        padding: 5px 10px 5px 10px;
        .sidebar-session-group {
            border-bottom: 1px solid @formBorderColor;
            padding-bottom: 5px;
            margin-bottom: 5px;
            color: @lightBlue;
            font-size: 14px;
        }
        .sidebar-session-title {
            font-size: 12px;
        }
    }

    .seperator {
        margin: 5px 10px 5px 10px;
        .inset (lighten(@sideBarBgColor, 4%), auto, 0px);
    }
}