{% load socketiotags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController" <% if (strict) { %>ng-strict-di<% } %>>
  <head>

    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />-->
    <!-- font awesome from BootstrapCDN -->
    <!--
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->


    <!-- compiled CSS --><% _.forEach(cssFiles, function(file) { %>
    <link rel="stylesheet" type="text/css" href="{% static '<%- file %>' %}"></link><% }); %>

    <script>
        //optional need to be loaded before angular-file-upload-shim(.min).js
        FileAPI = {
            jsPath: '/static/assets/',
            staticPath: '/static/assets/'
        };
        GLOBAL_CONFIG = {};
        GLOBAL_CONFIG.SELF_REGISTRATION = {% if self_registration %}true{% else %}false{% endif %};
    </script>
    <script>
        if (!window.console || !window.console.log) {
            window.console = {};
            window.console.log = function() {};
        }
    </script>
    {% js_io_vars %}
    <!--
    <script src="http://{{ socketio_domain }}:{{ socketio_port }}/socket.io/socket.io.js"></script>-->

    <!-- compiled JavaScript --><% _.forEach(jsFiles, function(file) { %>
    <script type="text/javascript" src="{% static '<%- file %>' %}"></script><% }); %>

  </head>

  <body>
    <div class="modals-container">
        <div ui-view="modals"></div>
    </div>

    <div class="topbar co-responsive" ng-if="topbarEnabled" ng-class="{ large: !authorized }">
        <a class="main-logo" ui-sref="documents.browser" ng-class="{logout: !authorized}">
        </a>
        <a class="top-glosbe-link" ng-class="{logout: !authorized}" href="http://www.glosbe.com" target="_blank">
            <p class="cap">supported by</p>
            <img ng-src="/static/assets/images/glosbe.ico"> <span> Glosbe.com</span>
        </a>
        <div class="topmenu" ng-if="authorized">
            <div class="center group">
                <a  ui-sref="documents.browser" active-on-navigation equal-state-limit="1">
                    <span>Filespace</span>
                </a>
                <a ui-sref="about" active-on-navigation equal-state-limit="1">
                    <span>About</span>
                </a>
            </div>
        </div>
        <div class="user-info" ng-if="authorized">
            <span class="user-info-name" ng-bind="user.firstName + ' ' + user.lastName"></span>
            <button class="user-expand-button" ng-click="openUserMenu($event)"><i class="fa fa-caret-down"></i></button>
        </div>
        <div class="user-login" ng-if="!authorized && topBarContent === 'Login'">
            <form class="login-form" ng-submit="login()">
                <input type="text" ng-model="credentials.email" placeholder="Email" required>
                <input type="password" ng-model="credentials.password" placeholder="Password" required>
                <button type="submit">Log In</button>
                <a ui-sref="reset" class="forgot-password-link">Forgot your password?</a>
            </form>
        </div>
        <div class="user-login" ng-if="!authorized && topBarContent === 'Register' && selfRegistration">
            <a class="sign-up-button button" ui-sref="register">Sign Up</a>
        </div>
    </div>
    <div class="middle" ng-class="{ 'sidebar-enabled': !sidebarDisabled, small: !authorized }">
        <div class="sidebar">
            <div class="sidebar-content" ui-view="sidebar"></div>
        </div>
        <div class="content">
            <div class="page-main-content" ui-view="main-content"></div>
        </div>
    </div>

    <div class="footer" ng-if="!authorized">
        <a ui-sref="about" active-on-navigation equal-state-limit="1">
            <span>About</span>
        </a>
    </div>



    <!--
    <div class="toolbar">
        <div class="toolbar-border"></div>
        <div class="page-title co-responsive">
            Interpreter<br/>Supporter

        </div>
        <div class="navigation co-responsive">
            <a class="item" ui-sref="home" active-on-navigation equal-state-limit="1"><div class="item-select"></div><div class="item-text"><i class="fa fa-home"></i><span>Home</span></div></a>
            <a class="item" ui-sref="speech.list" active-on-navigation equal-state-limit="1"><div class="item-select"></div><div class="item-text"><i class="fa fa-comments"></i><span>Debates</span></div></a>

            <a class="item" ui-sref="resources" active-on-navigation equal-state-limit="1"><div class="item-select"></div><div class="item-text"><i class="fa fa-hdd"></i><span>Files</span></div></a>
            <a class="item"><div class="item-select"></div><div class="item-text"><i class="fa fa-group"></i><span>Community</span></div></a>
            <a class="item" ng-click="toggleSidebar()"><div class="item-select"></div><div class="item-text"><i class="fa fa-info"></i><span>Impressum</span></div></a>
        </div>
        <div class="user-controls">
             <div class="email co-responsive" ng-bind="user.firstName + ' ' + user.lastName"></div>
             <div class="expand-button" ng-class="{ pressed : userMenuButtonPressed === true }" ng-click="toggleUserMenu()">
                 <div><i class="fa fa-reorder"></i></div>
             </div>
        </div>

    </div>
    <div class="user-menu-container">
        <div class="user-menu" ng-if="userMenuButtonPressed">
            <div class="email">
                <i class="fa fa-user"></i>
                <span ng-bind="user.firstName + ' ' + user.lastName"></span>
            </div>
            <div class="seperator"></div>
            <div class="item"><i class="fa fa-cog"></i><span>Preferences</span></div>
            <div class="item" ng-click="logout()"><i class="fa fa-sign-out"></i><span>Logout</span></div>

        </div>
    </div>-->

  </body>
</html>
