#co-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 10000;
    display: none;

    .co-modal-table {
        display: table-cell;
        vertical-align: middle;
        //padding-left: 50%;

        .co-modal-content {
            text-align: left;
            box-shadow: 0px 0px 10px 3px rgba(80,80,80,0.25);
            display: inline-block;
            position: relative;
            margin: auto;
            background-color: white;
            max-width: 650px;
            padding: 5px;
            .co-modal-top {
                height: 20px;
                width: 100%;
                position: relative;
                .co-modal-close {
                    cursor: pointer;
                    z-index: 10;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 20px;
                    color: @mediumGrey;
                }
            }
            .co-modal-body {
                width: 100%;
                position: relative;
                .modal-head {
                    display: table;
                    color: @lightBlue;
                    width: 100%;
                    margin-top: -15px;
                    padding: 5px 5px 10px 5px;
                    border-bottom: 1px solid @formBorderColor;
                    .icon {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 28px;
                        margin-right: 10px;
                    }
                    .text {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 18px;
                        padding-right: 40px;
                    }
                }
                .modal-content {
                    padding: 5px;
                }
                .modal-foot {
                    padding: 10px;
                    text-align: center;
                    a.button {
                        padding: 7px 11px 8px 11px;
                    }
                }

            }
        }
    }

    &.dark {
        background-color: rgba(0,0,0,0.5);
        .co-modal-table {
            .co-modal-content {
                text-align: left;
                box-shadow: 0px 0px 10px 3px rgba(80,80,80,0.25);
                max-width: 100%;
                width: 100%;

            }
        }
    }
    &.fullScreen {
        background-color: transparent;
        .co-modal-table {
            width: 100%;
            height: 100%;
            .co-modal-content {
                display: block;
                max-width: none;
                width: 100%;
                height: 100%;
                box-shadow: none;
                background-color: rgba(0,0,0,0.8);
                position: relative;
                .co-modal-top {
                    .co-modal-close {
                        color: white;
                    }
                }
                .co-modal-body {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    padding-top: 30px;
                    .modal-head {
                        border-bottom-width: 0px;
                        color: white;
                    }
                    .modal-content {
                        height: 100%;
                    }
                }
            }
        }
    }
    &.neutral {
        background-color: rgba(0,0,0,0);
    }
}