.webdav-file-browser-empty {
    width: 100%;
    .empty-message {
        margin-top: 10px;
        text-align: center;
        .empty-message-top {
            color: @lightGrey;
            font-size: 48px;
        }
        .empty-message-body {
        }
    }   
}


.webdav-file-browser {
    height: 400px;
    overflow: auto;
    .webdav-file-table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        colgroup {
            .webdav-file-table-col {
                display: table-column;
                &.select {
                    width: 30px;
                }
                &.name {
                    width: 100%;
                }
                &.size {
                    width: 100px;
                }
                &.modified {
                    width: 100px;
                }
            }
        }
        .webdav-file-table-head {
            display: table-header;
            .webdav-file-table-header {
                font-weight: bold;
                .webdav-file-table-cell {
                    cursor: default;
                    border-bottom: 1px solid @formBorderColor;
                    border-top: 1px solid @formBorderColor;
                    &.sortable {
                        i {
                            margin-left: 5px;
                            margin-top: 3px;
                        }
                        &:hover {
                            background-color: @ultraLightGrey;
                        }
                        &.selected {
                            color: @leafeGreen;
                        }
                    }

                }
            }
        }
        .webdav-file-table-body {
            display: table-row-group;
            .webdav-file-table-row {
                &:hover {
                    background-color: @ultraLightGrey;
                }
                &.selected {
                    background-color: @ultraLightBlue;
                }
            }
        }
        .webdav-file-table-header, .webdav-file-table-row {
            display: table-row;
            .webdav-file-table-cell {
                overflow: hidden;
                white-space: nowrap;
                vertical-align: middle;
                display: table-cell;
                border-bottom: 1px solid @formBorderColor;
                padding: 5px;
            }
        }


    }
}

.enable-logging-modal {
    table.enable-logging-buttons {
        width: 100%;
        td {
            padding: 10px;
            &:first-child {
                text-align: right;
            }
            &:last-child {
                text-align: left;
            }
            button {
                text-align: center;
            }
        }
    }
}

#preview-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 300;

    .preview-frame {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .closeIcon {
            position: absolute;
            right: 30px;
            top: 10px;
            font-size: 18px;
            color: white;
            cursor: pointer;
        }
        .pages-container {
            width: 100%;
            height: 100%;
            margin: auto;
            overflow: auto;
            padding: 100px 150px 0 150px;
            .pages-inner-container {
                margin: auto;
                max-width: 700px;
                .outer-page {
                    position: relative;
                    width: 100%;
                    padding-bottom: 141%;
                    margin-bottom: 50px;
                    .inner-page {
                        position: absolute;
                        text-align: left;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        background-color: white;
                        padding: 12%;
                        p {
                            margin-bottom: 3%;
                        }
                    }
                }
            }
        }

    }
}




.selection-files {
    display: table;
    margin: auto;
    .selection-files-icons {
        display: table-cell;
        padding: 10px;
        position: relative;
        height: 60px;
        width: 60px;
        vertical-align: middle;

        &.mixed {
            img {
                position: absolute;
                &:first-child {
                    left: 0px;
                    top: 0px;
                }
                &:last-child {
                    left: 20px;
                    top: 5px;
                }
            }
        }
    }
    .selection-files-text {
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
        .number {
            color: @lightBlue;
            display: inline-block;
            padding: 0 5px;
            border: 1px solid @formBorderColor;
        }
    }
}

.create-dir-modal {
    input {
        min-width: 300px;
    }

}

.rename-modal {
    .rename-table {
        display: table;
        margin: auto;
        .rename-file-icon {
            display: table-cell;
            padding: 10px;
            vertical-align: middle;
        }
        .rename-file-text {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            input {
                min-width: 300px;
            }
        }
    }
}

.tree-container {
    position: relative;
    width: 100%;
    overflow: auto;
    border-top: 1px solid @formBorderColor;
    border-bottom: 1px solid @formBorderColor;
    padding: 10px 0;
    .tree-view {
        margin-top: -1px;
        padding-bottom: 1px;
    }
}

.copy-tree-container {
    position: relative;
    min-width: 400px;
    height: 300px;
    border: 1px solid @formBorderColor;
    overflow: auto;
    .tree-view {
        margin-top: -1px;
        margin-bottom: -1px;
    }
}

.documents-sidebar {
    .documents-sidebar-controls {
        display: table;
        width: 100%;
        margin-bottom: 3px;
        .control-row {
            display: table-row;
            td {
                button {
                    text-align: left;
                }
                padding-bottom: 4px;
                &:first-child {
                    width: 64%;
                    padding-right: 4px;
                }
                &:last-child {
                    button {
                        height: 43px;
                        text-align: center;
                    }
                }
            }
        }
        button {
            width: 100%;
            margin-bottom: -1px;
        }
    }
}


.tree-view {
    font-size: 10px;
    min-width: 100%;
    min-height: 200px;
    display: inline-block;
    text-align: left;
    .tree-item-children {
        display: none;
    }
    .tree-item-name {
        cursor: default;
        padding: 5px 0;
        position: relative;
        z-index: 30;
        white-space: nowrap;
        .caret {
            display: inline-block;
            width: 20px;
            text-align: center;
        }
        img {
            margin-right: 5px;
            margin-left: 5px;
        }
        &:hover {
            background-color: @ultraLightGrey;
            border-top: 1px solid @formBorderColor;
            border-bottom: 1px solid @formBorderColor;
            padding: 4px 0 5px 0;
            margin-bottom: -1px;
        }
    }
    .tree-item {
        &.open {
            > .tree-item-children {
                display: block;
            }
        }
        &.selected {
            > .tree-item-name {
                z-index: 31;
                background-color: @ultraLightBlue;
                border-top: 1px solid darken(@ultraLightBlue, 5%);
                border-bottom: 1px solid darken(@ultraLightBlue, 5%);
                padding: 4px 0 5px 0;
                margin-bottom: -1px;
            }

        }
    }
}

.file-browser-head {
    margin: 0 5px;
    position: relative;
    height: 39px;
    border-bottom: 1px solid @formBorderColor;
}

.file-browser-multi-selector {
    position: absolute;
    left: 0px;
    top: 4px;
    height: 30px;
    width: 30px;
    border: 1px solid @formBorderColor;
    background-color: @ultraLightGrey;
    padding: 4px;
}

.file-browser-sort-select {
    position: absolute;
    right: 65px;
    top: 4px;
}

.file-browser-options {
    position: absolute;
    left: 35px;
    top: 4px;
    font-size: 14px;
    .file-browser-option {
        height: 30px;
        width: 30px;
        text-align: center;
        float: left;
        padding-top: 4px;
        border: 1px solid @formBorderColor;
        border-right-width: 0px;
        background-color: @ultraLightGrey;
        &:last-child {
            border-right-width: 1px;
        }
        &:hover {
            background-color: darken(@ultraLightGrey, 5%);
        }
    }
}

.file-browser-computes {
    position: absolute;
    left: 100px;
    top: 4px;
    font-size: 14px;
    .file-browser-compute {
        height: 30px;
        text-align: center;
        float: left;
        padding: 4px 10px;
        margin-right: 5px;
        background-color: @lightBlue;
        color: @ultraLightGrey;
        cursor: pointer;
        &:hover {
            background-color: lighten(@lightBlue, 10%);
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.file-browser-viewmode-select {
    position: absolute;
    right: 0px;
    top: 4px;
    font-size: 14px;
    .file-browser-viewmode {
        height: 30px;
        width: 30px;
        text-align: center;
        float: left;
        padding-top: 4px;
        border: 1px solid @formBorderColor;
        background-color: @ultraLightGrey;
        &:last-child {
            border-left-width: 0px;
        }
        &:hover {
            background-color: darken(@ultraLightGrey, 5%);
        }
        &.selected {
            .insetShadow (0; 0; 8px; 0px; rgba(0,0,0,0.3))
        }
    }
}

.file-browser-navi {
    padding: 5px;
    position: relative;
    height: 24px;
}


.path-navi {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 10px;
    white-space: nowrap;
    a, span {
        display: inline-block;

        color: @lightBlue;
        padding: 0 5px;
        margin: 2px;
        &:hover {
            color: @lightBlue;
            text-decoration: none;
        }
        &:last-child {
            color: inherit;

        }

    }
    span {
        cursor: default;
    }
    i {
        display: inline-block;
    }
}

.file-browser-body {
    margin: 0 5px;


    .file-browser-empty {
        border-top: 1px solid @formBorderColor;
        width: 100%;
        .empty-message {
            margin-top: 100px;
            color: @lightGrey;
            text-align: center;
            .empty-message-top {
                font-size: 96px;
            }
            .empty-message-body {
                font-size: 24px;
            }
        }   
    }

    .file-grid {
        border-top: 1px solid @formBorderColor;
        padding-top: 5px;
        .file-icon {
            color: inherit;
            width: 95px;
            height: 115px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 10px 3px;
            overflow: hidden;
            margin-left: -1px;
            .file-icon-table {
                display: table;
                width: 55px;
                margin-left: 17px;
                .file-icon-img {
                    display: table-cell;
                    position: relative;
                    vertical-align: top;
                    text-align: left;
                    width: 30px;
                    .file-comp {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(255,255,255,0.66);
                        .file-comp-imgs {
                            position: absolute;
                            bottom: 5px;
                            left: 5px;
                        }
                    }
                }
                .file-icon-controls {
                    display: table-cell;
                    vertical-align: top;
                    text-align: left;
                    width: 25px;
                    padding-left: 5px;
                    .options-button {
                        margin-top: 8px;
                    }
                }
            }

            .file-icon-name {
                display: block;
                width: 100%;
                margin-top: 5px;
                text-align: center;
                -ms-word-break: break-all;
                -ms-word-wrap: break-all;
                -webkit-word-break: break-word;
                -webkit-word-wrap: break-word;
                word-break: break-word;
                word-wrap: break-word;
                -webkit-hyphens: manual;
                -moz-hyphens: manual;
                hyphens: manual;
            }
            &:hover {
                text-decoration: none;
                background-color: @ultraLightGrey;
                border: 1px solid @formBorderColor;
                padding: 9px 2px;
            }
            &.selected {
                text-decoration: none;
                background-color: @ultraLightBlue;
                border: 1px solid darken(@ultraLightBlue, 5%);
                padding: 9px 2px;
            }
        }
    }

    .file-table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        colgroup {
            .file-table-col {
                display: table-column;
                &.select {
                    width: 30px;
                }
                &.options {
                    width: 30px;
                }
                &.comp {
                    width: 30px;
                }
                &.lang {
                    width: 30px;
                }
                &.name {
                    width: 100%;
                }
                &.size {
                    width: 100px;
                }
                &.type {
                    width: 170px;
                }
                &.modified {
                    width: 100px;
                }
            }
        }
        .file-table-head {
            display: table-header;
            .file-table-header {
                font-weight: bold;
                .file-table-cell {
                    cursor: default;
                    border-bottom: 1px solid @formBorderColor;
                    border-top: 1px solid @formBorderColor;
                    &.sortable {
                        i {
                            margin-left: 5px;
                            margin-top: 3px;
                        }
                        &:hover {
                            background-color: @ultraLightGrey;
                        }
                        &.selected {
                            color: @leafeGreen;
                        }
                    }

                }
            }
        }
        .file-table-body {
            display: table-row-group;
            .file-table-row {
                &:hover {
                    background-color: @ultraLightGrey;
                }
                &.selected {
                    background-color: @ultraLightBlue;
                }
            }
        }
        .file-table-header, .file-table-row {
            display: table-row;
            .file-table-cell {
                overflow: hidden;
                white-space: nowrap;
                vertical-align: middle;
                display: table-cell;
                border-bottom: 1px solid @formBorderColor;
                padding: 5px;
                &.name {
                    a {
                        vertical-align: bottom;
                    }
                    img {
                        padding: 2px 5px;
                    }
                }
                &.options {

                }
            }
        }


    }

}

.file-browser {
    .options-button {
        width: 20px;
        height: 20px;
        font-size: 14px;
        background-color: @ultraLightGrey;
        border: 1px solid @formBorderColor;
        color: @mediumGrey;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: @lightBlue;
            border-width: 0px;
            color: white;
        }
    }

    .file-comp-imgs {
        padding: 2px 4px;
        background-color: @ultraLightGrey;
        border: 1px solid @formBorderColor;
        img {
            display: block;
            margin-top: 2px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    .file-lang {
        width: 20px;
        height: 20px;
        font-size: 10px;
        text-align: center;
        padding-top: 2px;
        cursor: pointer;
        background-color: @ultraLightGrey;
        border: 1px solid @formBorderColor;
        &:hover {
            background-color: @lightBlue;
            border-width: 0px;
            color: white;
        }
        &.no-lang {
            background-color: @ultraLightGrey;
            border-width: 1px;
            color: red;
        }
    }
}





.upload-modal {

    .fileinput-button {
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        height: 29px;
        padding: 6px 10px 7px 10px;
        .js-fileapi-wrapper {
            left: -10px;
            top: -10px;
            display: inline;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            filter: alpha(opacity=0);
        }
    }

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        direction: ltr;
        font-size: 200px;
        cursor: pointer;
    }

    .upload-files {
        margin-top: 10px;
        border: 1px solid @formBorderColor;
        background-color: white;
        height: 200px;
        width: 300px;
        overflow: auto;
        .upload-file {
            position: relative;
            display: block;
            padding: 5px;
            border-bottom: 1px solid @formBorderColor;

            .progressbar {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgb(155, 230, 155);
            }
            .spinner {
                position: absolute;
                width: 16px;
                height: 16px;
                right: 20px;
                top: 50%;
                margin-top: -8px;
                background-image: url("/static/assets/images/spinner.gif");
            }
            .uf-name {
                position: relative;
                margin-right: 20px;
                white-space: nowrap;
                overflow: hidden;
            }
            .remove-icon {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 20px;
                text-align: center;
                cursor: pointer;
                font-size: 18px;
                color: @mediumGrey;
            }
        }
    }
}
