<div>
    <div class="modal-head">
        <span class="text">Create Term</span>
    </div>
    <div class="modal-content">
        <div>Term Name</div>
        <form ng-submit="vm.create()">
            <input id="term-create-modal-input" type="text" ng-model="vm.termName">
        </form>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.create()">Create</button>
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
