<div>
    <div class="modal-head">
        <span class="text">Group Terms</span>
    </div>
    <div class="modal-content">
        <p>Please pick the the root term</p>
        <div class="term-selector">
            <div class="term" ng-repeat="term in vm.terms" ng-click="vm.group(term)">
                {{ term.name }}
            </div>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
