<div class="rename-term-modal">
    <div class="modal-head">
        <span class="text">Rename Term</span>
    </div>
    <div class="modal-content">
        <form ng-submit="vm.rename()" class="vertical">
            <div class="form-group">
                <div class="group-label">Term Name</div>
                <div class="group-input">
                    <input id="term-rename-modal-input" type="text" ng-model="vm.termName">
                </div>
            </div>
            <div class="form-group" ng-if="vm.isGroup">
                <div class="group-input">
                    <div class="checkbox-input" ng-click="vm.toggleDestroyGroup()">
                        <div class="single-selector check-box" ng-class="{ 'checked': vm.destroyGroup }" >
                            <i ng-if="vm.destroyGroup" class="fa fa-check"></i>
                        </div>
                        <div class="checkbox-text">destroy group</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.rename()">Rename</button>
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
