<div class="terminology-edit-modal">
    <div class="modal-head">
        <span class="text">Edit Terms</span>
    </div>
    <div class="modal-content">
        <table class="edit-split-table">
            <colgroup>
                <col width="150px"></col>
                <col width="*"></col>
            </colgroup>
            <tbody>
                <tr class="edit-split-row">
                    <td>
                        <div class="terminology-list-small">
                            <div class="term" ng-repeat="term in vm.termList.items" ng-class="{selected : term === vm.selectedTerm}" ng-click="vm.selectTerm(term)">
                                {{ term.name }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <table class="terminology-table">
                            <colgroup class="terminology-table-colgroup">
                                <col class="terminology-table-col name"></col>
                                <col ng-repeat="lang in vm.termList.targetLanguages" class="terminology-table-col name"></col>
                            </colgroup>
                            <thead>
                                <tr class="terminology-table-header">
                                    <th class="terminology-table-cell">
                                        <div class="table-cell-wrapper p5">
                                            {{ vm.termList.language.name }}
                                            <div class="translation-controls">
                                                <button ng-click="vm.editTerm()"><i class="fa" ng-class="{false: 'fa-pencil', true: 'fa-caret-up'}[vm.tempTerm.active]"></i></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th ng-repeat="lang in vm.termList.targetLanguages" class="terminology-table-cell">
                                        <div class="table-cell-wrapper p5">
                                            {{ lang.name }}
                                            <div class="translation-controls">
                                                <button ng-if="vm.selectedTerm.combinedTranslations[lang.tag].numberOfSelectedItems > 0" ng-click="vm.moveSelectedTranslations(lang.tag, -1)"><i class="fa fa-chevron-up"></i></button>
                                                <button ng-if="vm.selectedTerm.combinedTranslations[lang.tag].numberOfSelectedItems > 0" ng-click="vm.moveSelectedTranslations(lang.tag, 1)"><i class="fa fa-chevron-down"></i></button>
                                                <button class="add" ng-click="vm.addTranslation(lang.tag)"><i class="fa" ng-class="{false: 'fa-plus', true: 'fa-caret-up'}[vm.tempTranslation[lang.tag].active]"></i></button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="terminology-table-body">
                                <tr class="terminology-table-row">
                                    <td class="terminology-table-cell">
                                        <div class="table-cell-wrapper">
                                            <div class="term-edit" ng-if="vm.tempTerm.active">
                                                <form ng-submit="vm.modifyTerm()">
                                                    <div class="input-name">
                                                        <input id="terminology-edit-input" type="text" ng-model="vm.tempTerm.name" ng-class="{error:vm.tempTerm.error}">
                                                    </div>
                                                    <div class="input-submit">
                                                        <button class="primary" type="submit">OK</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="term-infos">
                                                <div class="term-name">{{ vm.selectedTerm.name }}</div>
                                                <div class="term-related" ng-if="vm.selectedTerm.related.length > 0">
                                                    <i class="fa fa-cubes"></i>
                                                    <span class="term-rel" ng-click="vm.selectRelTerm(vm.selectedTerm)" ng-class="{selected:vm.selectedRelTerm===vm.selectedTerm}">{{ vm.selectedTerm.name }}</span>
                                                    <span class="term-rel" ng-repeat="rel in vm.selectedTerm.related" ng-click="vm.selectRelTerm(rel)" ng-class="{selected:vm.selectedRelTerm===rel}">{{ rel.name }}</span>
                                                </div>
                                                <div class="term-occurances">
                                                </div>
                                                <div class="term-controls">
                                                    <button ng-click="vm.updateTranslations()">Update Translations</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-repeat="lang in vm.termList.targetLanguages" class="terminology-table-cell trans">
                                        <div class="translation-create" ng-if="vm.tempTranslation[lang.tag].active">
                                            <form ng-submit="vm.createTranslation(lang.tag)">
                                                <div class="input-name">
                                                    <input id="terminology-create-input_{{ lang.tag }}" type="text" ng-model="vm.tempTranslation[lang.tag].name" ng-class="{error:vm.tempTranslation[lang.tag].error}">
                                                </div>
                                                <div class="input-submit">
                                                    <button class="primary" type="submit">ADD</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="translations-container active" ng-class="{small:vm.expanded[lang.tag], create:vm.tempTranslation[lang.tag].active}">


                                            <div class="empty-translations" ng-if="vm.selectedTerm.combinedTranslations[lang.tag].numberOfVisibleItems === 0">
                                                <h1>[  ]</h1>
                                                <span>no translations</span>
                                            </div>
                                            <table>
                                                <colgroup>
                                                    <col width="30px"></col>
                                                    <col width="*"></col>
                                                    <col width="30px"></col>
                                                </colgroup>
                                                <tbody>
                                                    <tr ng-repeat="translation in vm.selectedTerm.combinedTranslations[lang.tag].items" ng-if="translation.visible" ng-class="{selected:translation.selected, marked:translation.marked}">
                                                        <td class="translation-select" ng-click="vm.toggleTranslationSelection(lang.tag, translation)">
                                                            <div class="single-selector check-box" ng-class="{ 'checked': translation.selected }" >
                                                                <i ng-if="translation.selected" class="fa fa-check"></i>
                                                            </div>
                                                        </td>
                                                        <td class="translation-name" ng-click="vm.openTranslationDetails($event, translation, lang)">{{ translation.name }}</td>
                                                        <td class="translation-hide" ng-click="vm.toggleTranslationVisibility(lang.tag, translation)"><i class="fa fa-times-circle"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="translations-container-caption" ng-click="vm.toggleOtherTranslations(lang.tag)">
                                            <i class="fa" ng-class="{true:'fa-caret-down', false:'fa-caret-up'}[vm.expanded[lang.tag]]"></i>
                                            <span>{{ vm.selectedTerm.combinedTranslations[lang.tag].length - vm.selectedTerm.combinedTranslations[lang.tag].numberOfVisibleItems }} ignored translations</span>
                                            <i class="fa" ng-class="{true:'fa-caret-down', false:'fa-caret-up'}[vm.expanded[lang.tag]]"></i>
                                        </div>
                                        <div class="translations-container inactive" ng-if="vm.expanded[lang.tag]">
                                            <table>
                                                <colgroup>
                                                    <col width="*"></col>
                                                    <col width="30px"></col>
                                                </colgroup>
                                                <tbody>
                                                    <tr ng-repeat="translation in vm.selectedTerm.combinedTranslations[lang.tag].items" ng-if="!translation.visible" ng-class="{marked:translation.marked}">
                                                        <td class="translation-name" ng-click="vm.openTranslationDetails($event, translation, lang)">{{ translation.name }}</td>
                                                        <td class="translation-hide" ng-click="vm.toggleTranslationVisibility(lang.tag, translation)"><i class="fa fa-check-circle"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.closeModal()">Close</button>
    </div>
</div>
