<div class="terminolog-process-modal">

    <div class="modal-head">
        <span class="text">Reset Terminology List</span>
    </div>
    <div class="modal-content">
        By resetting the terminology list, you will lose all individual changes that you made to the list. Do you want to proceed?
    </div>
    <div class="modal-foot">
        <button ng-click="vm.proceed()">Proceed</button>
        <button ng-click="vm.cancel()">Cancel</button>
    </div>

</div>
