
<div class="terminology-context-container">

    <div class="terminology-context-head">

        <div class="terminology-context-controls">
            <button class="context-add add" ng-if="vm.selectedText.length > 0" ng-click="vm.addTerm()">Add Selected</button>
            <table class="context-select-info" ng-if="vm.selectedText.length === 0">
                <td><i class="fa fa-caret-down"></i></td>
                <td>select text to<br/>add terms</td>
            </table>
            <button ng-disabled="vm.selectedCount === 0" ng-click="vm.prev()"><i class="fa fa-chevron-up"></i></button>
            {{ vm.selectedFocus + 1}} / {{ vm.selectedCount }}
            <button ng-disabled="vm.selectedCount === 0" ng-click="vm.next()"><i class="fa fa-chevron-down"></i></button>
            <button class="context-close" ng-click="vm.close()">Close <i class="fa fa-chevron-right"></i></button>
        </div>

    </div>

    <div class="terminology-context-body">

        <div class="text-content-container" scroll-to="vm.selectedUid" mark-type="echolot" id="term-text-scroll-container">
            <div class="text-content">
                <div class="terminology-document-viewer" term-list="vm.termList" on-term-click="vm.clickHandler(term)" selected-count="vm.selectedCount" selected-focused="vm.selectedFocus" selected-uid="vm.selectedUid" text-selection="vm.selectedText"></div>
            </div>
        </div>

    </div>

</div>
