<div class="terminology-splitter" ng-class="{ splitted: vm.isSplitted }">
    <div class="terminology-splitter-list" ui-view="terminology-list"></div>
    <div class="terminology-splitter-context" ui-view="terminology-context"></div>
</div>
