<div class="terminology-list">

    <div class="terminology-list-head">

        <div class="terminology-list-controls">

            <div class="terminology-multi-selector" ng-if="vm.termList.length > 0">
                <div class="check-box" ng-class="{ '0': 'unchecked', '1': 'checked', '2': 'partchecked' }[vm.termList.checkAllState]" ng-click="vm.toggleAll()">
                    <i ng-if="vm.termList.checkAllState===1" class="fa fa-check"></i>
                    <i ng-if="vm.termList.checkAllState===2" class="fa fa-minus"></i>
                </div>
            </div>
            <button class="terminology-add-button add" ng-click="vm.createTerm()"><i class="fa fa-plus"></i></button>
            <div class="terminology-options" ng-if="vm.termList.numberOfSelectedItems > 0">
                <div class="terminology-option keep-distance" ng-click="vm.deleteSelectedTerms()"><i class="fa fa-trash-o"></i></div>
                <button class="terminology-option no-width-override" ng-click="vm.moveSelectedTerms(-1)"><i class="fa fa-chevron-up"></i></button>
                <button class="terminology-option no-width-override" ng-click="vm.moveSelectedTerms(1)"><i class="fa fa-chevron-down"></i></button>

                <div class="terminology-option keep-distance" ng-click="vm.showMultiMenu($event)"><i class="fa fa-ellipsis-v"></i></div>
            </div>
            <select class="terminology-sort" ng-model="vm.selectedSortOption" ng-options="o.label for o in vm.sortOptions"></select>


        </div>
        <div class="terminology-list-stats">
            <span>{{ vm.termList.length }} / {{ vm.termList.rawTerms.length }}</span>
        </div>

        <table class="terminology-table-head">
            <colgroup class="terminology-table-colgroup">
                <col class="terminology-table-col select"></col>
                <col class="terminology-table-col options"></col>
                <col class="terminology-table-col importance"></col>
                <col class="terminology-table-col name"></col>
                <col ng-if="!vm.hideTargetLanguages" ng-repeat="lang in targetLangs" class="terminology-table-col name"></col>
            </colgroup>
            <tr class="terminology-table-header">
                <td class="terminology-table-cell"></td>
                <td class="terminology-table-cell"></td>
                <td class="terminology-table-cell"></td>
                <td class="terminology-table-cell">{{ vm.baseLang.name }}</td>
                <td ng-if="!vm.hideTargetLanguages" ng-repeat="lang in vm.termList.targetLanguages" class="terminology-table-cell"><div class="swapable-header"><span ng-click="vm.swapColumn(lang, -1)"><i class="fa fa-caret-left"></i></span>{{ lang.name }}<span ng-click="vm.swapColumn(lang, 1)"><i class="fa fa-caret-right"></i></span></div></td>
            </tr>
        </table>

        <div class="language-select-button" ng-click="vm.showLanguageSelectMenu($event)"><i class="fa fa-ellipsis-v"></i></div>

    </div>
    <div class="terminology-list-body">

        <div class="terminology-list-scroll-container" scroll-to="vm.focusedIdMain" mark-type="flash" id="ne-list-scroll-container">
            <table class="terminology-table">
                <colgroup class="terminology-table-colgroup">
                    <col class="terminology-table-col select"></col>
                    <col class="terminology-table-col options"></col>
                    <col class="terminology-table-col importance"></col>
                    <col class="terminology-table-col name"></col>
                    <col ng-if="!vm.hideTargetLanguages" ng-repeat="lang in vm.termList.targetLanguages" class="terminology-table-col name"></col>
                </colgroup>
                <tbody class="terminology-table-body">
                    <tr id="TE{{ term.id }}" ng-repeat="term in vm.termList.items" class="terminology-table-row" ng-click="vm.openEditView(term)" ng-class="{selected : term.selected}">
                        <td class="terminology-table-cell item-select" ng-click="vm.toggle($event, term)">
                            <div class="single-selector check-box" ng-class="{ 'checked': term.selected }">
                                <i ng-if="term.selected" class="fa fa-check"></i>
                            </div>
                        </td>
                        <td class="terminology-table-cell options">
                            <div class="options-button" ng-click="vm.showSingleMenu($event, term)">
                                <i class="fa fa-ellipsis-v"></i>
                            </div>
                        </td>
                        <td class="terminology-table-cell">
                            <co-rating value="term.edited?-1:term.combinedImportance" show-number="false"></co-rating>
                        </td>
                        <td class="terminology-table-cell">
                            <i ng-if="term.related.length > 0" class="fa fa-cubes"></i>
                            <span>{{ term.name }}</span>
                        </td>
                        <td ng-if="!vm.hideTargetLanguages" ng-repeat="lang in vm.termList.targetLanguages" class="terminology-table-cell trans">
                            <div>
                                <div class="terminology-list-translation" ng-repeat="translation in term.combinedTranslations[lang.tag].items"  ng-if="translation.visible">
                                    {{ translation.name }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</table>
