<div class="term-download-modal">
    <div class="modal-head">
        <span class="text">Download Terminology List</span>
    </div>
    <div class="modal-content">
        <div>How do you want to download the csv file? (On Apple mobile devices, the recommended option is "Open in new Window/Tab")</div>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.download()">Download</button>
        <button ng-click="vm.openTab()" class="primary">Open in new Window/Tab</button>
        <button ng-click="vm.closeModal()">Dismiss</button>
    </div>
</div>
