<div class="term-save-modal">
    <div class="modal-head">
        <span class="text">Save Terminology List</span>
    </div>
    <div class="modal-content">
        <div>File Name</div>
        <input id="term-save-modal-input" type="text" ng-model="vm.termListName">
        <div>Directory</div>
        <div class="copy-tree-container">
            <dir-tree on-select="vm.onDirSelect" selected-id="vm.baseId"></dir-tree>
        </div>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.save()">Save</button>
        <button ng-click="vm.closeModal()">Cancel</button>
    </div>
</div>
