<div class="terminology-sidebar">
    <div class="terminology-top">
        <div class="cell-left">
            <button title="go back to filespace" ng-click="vm.backToFileSpace()"><i class="fa fa-level-up fa-rotate-270"></i> Return to Filespace</button>
        </div><!--
        <div class="cell-right">
            <button title="generate terminology list" ng-click="generate()" class="add"><i class="fa fa-flask"></i> Generate</button>
        </div>-->
    </div>

    <div class="terminology-file-name" ng-if="vm.termList.name !== ''">
        <span><img ng-src="/static/assets/images/tlist16.png"> {{ vm.termList.name }}</span>
    </div>
    <table class="terminology-controls-save">
        <td>
            <button title="download terminology list as csv file" class="primary terminology-download" ng-click="vm.download()"><i class="fa fa-download"></i> Download</button>
        </td>
        <td>
            <button title="save terminology list" class="add" ng-click="vm.saveList()" ng-disabled="vm.termList.docId === null"><i class="fa fa-save"></i> Save</button>
            <button title="save terminology list" class="add" ng-click="vm.saveListAs()"><i class="fa fa-save"></i> Save As</button>
        </td>
    </table>


    <div>Selected Documents <span class="desc">(click to open full text)</span></div>
    <div class="document-box">
        <table>
            <colgroup>
                <col width="30px"></col>
                <col width="*"></col>
            </colgroup>
            <tbody>
                <tr title="{{ docItem.name }}" class="document-item" ng-repeat="docItem in vm.docItems" ng-class="{ disabled: !docItem.converted, selected: docItem.selected }" ng-click="vm.showFullView(docItem)">
                    <td>
                        <img ng-src="/static/assets/images/{{ docItem.imgPrefix }}16.png">
                    </td>
                    <td>
                        <div>{{ docItem.name }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="terminology-controls">
        <div class="terminology-controls-reset" ng-class="{locked: vm.termList.locked}">
            <div class="terminology-control">
                <div class="control-caption">
                    <span>Min. Occurances</span>
                    <span class="badge pull-right" ng-bind="vm.minOccTemp"></span>
                </div>
                <co-slider min="1" max="10" units="9" release-value="vm.minOcc" slide-value="vm.minOccTemp"></co-slider>
            </div>
            <div class="terminology-control">
                <div class="control-caption">Max. List Length</div>
                <select ng-model="vm.selectedNumTerms" ng-options="o.text for o in vm.numTerms">
                </select>
            </div>
            <div class="lock-overlay">
                <div ng-click="vm.resetList()"><i class="fa fa-refresh"></i></div>
            </div>
        </div>

    </div>
</div>
