<div class="term-details-modal">
    <div class="modal-head">
        <span class="text">Details</span>
    </div>
    <div class="modal-content">
        <div class="term-top">
            <span class="term-name">{{ vm.term.name }}</span>
            <div class="term-rel-container" ng-if="term.related.length > 0">
                <span class="term-rel" ng-repeat="rel in vm.term.related">{{ rel.name }}</span>
            </div>
        </div>
        <div class="translations" ng-if="vm.langs.length > 0">
            <div class="translation-controls">
                <div class="translations-multi-select">
                    <div class="check-box" ng-class="{ '0': 'unchecked', '1': 'checked', '2': 'partchecked' }[vm.transList.checkAllState]" ng-click="vm.toggleAll()">
                        <i ng-if="vm.transList.checkAllState===1" class="fa fa-check"></i>
                        <i ng-if="vm.transList.checkAllState===2" class="fa fa-minus"></i>
                    </div>
                </div>
                <div class="translations-multi-visible" ng-click="vm.toggleAllVisible()" ng-class="{ '0': 'unchecked', '1': 'checked', '2': 'partchecked' }[vm.transList.checkAllStateVisible]">
                    <i ng-if="vm.transList.checkAllStateVisible===1" class="fa fa-eye"></i>
                    <i ng-if="vm.transList.checkAllStateVisible===2" class="fa fa-eye-slash"></i>
                </div>
                <button class="translation-add-button" ng-class="{true: 'warning', false:'add'}[vm.newForm.visible]" ng-click="vm.openNewTranslationForm()"><i class="fa" ng-class="{true: 'fa-times', false:'fa-plus'}[vm.newForm.visible]"></i></button>
                <div class="translation-options">
                    <div ng-if="vm.transList.numberOfSelectedItems > 0">
                        <button class="translation-option no-width-override" ng-click="vm.moveSelectedTranslations(-1)"><i class="fa fa-chevron-up"></i></button>
                        <button class="translation-option no-width-override" ng-click="vm.moveSelectedTranslations(1)"><i class="fa fa-chevron-down"></i></button>
                    </div>
                </div>
                <select class="translations-lang-select" ng-model="vm.selectedLang" ng-options="o.name for o in vm.langs"></select>
            </div>
            <div class="translations-table-container">
                <table class="translations-table">
                    <colgroup class="translations-table-colgroup">
                        <col class="translations-table-col select" width="30px"></col>
                        <col class="translations-table-col visible" width="30px"></col>
                        <col class="translations-table-col options" width="*"></col>
                        <col class="translations-table-col sources" width="80px"></col>
                        <col class="translations-table-col tm" width="30px"></col>
                    </colgroup>
                    <tbody>
                        <tr ng-if="vm.newForm.visible" class="translation-create-form">
                            <td colspan="2">
                                <button class="primary" ng-click="vm.createTranslation()">Add</button>
                            </td>
                            <td colspan="3">
                                <form ng-submit="vm.createTranslation()">
                                    <input id="translation-create-input" type="text" ng-model="vm.newForm.name">
                                </form>
                            </td>
                        </tr>
                        <tr ng-repeat="translation in vm.transList.items" class="translation" ng-class="{unchecked: !translation.visible, selected: translation.selected}" ng-click="vm.select(translation)">
                            <td class="translation-table-td visible" ng-click="vm.toggle($event, translation)">
                                <div class="single-selector check-box" ng-class="{ 'checked': translation.selected }">
                                    <i ng-if="translation.selected" class="fa fa-check"></i>
                                </div>
                            </td>
                            <td class="translation-table-td select" ng-click="vm.toggleVisible($event, translation)">
                                <i ng-if="translation.visible" class="fa fa-eye"></i>
                            </td>
                            <td class="translation-table-td name">{{ translation.name }}</td>
                            <td class="translation-table-td sources">
                                <span class="translation-source" ng-if="translation.user" >
                                    <i class="fa fa-user"></i>
                                </span>
                                <a href="{{ source.url }}" target="_blank" class="translation-source online-source" ng-repeat="source in translation.sources" ng-click="stopPropagation($event)">
                                    <img ng-src="/static/assets/images/{{ source.name }}.ico"></img>
                                </a>
                            </td>
                            <td class="translation-table-td tm">
                                <button ng-if="translation.tm" ng-click="openTMContext(translation)">
                                    TM
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.closeModal()">Close</button>
    </div>
</div>
