<div class="translation-details-modal">
    <div class="modal-head">
        <span class="text">Translation Details</span>
    </div>
    <div class="modal-content">
        <div class="translation-top">
            <table>
                <colgroup>
                    <col width="*"></col>
                    <col width="24px"></col>
                    <col width="50px"></col>
                    <col width="24px"></col>
                    <col width="*"></col>
                </colgroup>
                <tbody>
                    <tr>
                        <td class="source-cell">{{ vm.term.name }}</td>
                        <td class="tag-cell"><span class="tag">{{ vm.sourceLanguage.tag }}</span></td>
                        <td><i class="fa fa-arrows-h"></i></td>
                        <td class="tag-cell"><span class="tag">{{ vm.targetLanguage.tag }}</span></td>
                        <td class="target-cell">{{ vm.translation.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="translation-details-title">Sources</div>
        <div class="translation-sources">
            <div class="translation-source" ng-if="vm.translation.users.length > 0">
                <span class="source-icon"><i class="fa fa-user"></i></span>
                <span class="source-title">{{ vm.usersString }}</span>
            </div>
            <div class="translation-source" ng-repeat="source in vm.translation.sources">
                <span class="source-icon"><img ng-src="/static/assets/images/{{ source.name }}.ico"></img></span>
                <span class="source-title">{{ source.label }}</span>
                <a href="{{ vm.sourceLinks[source.id] }}" target="_blank" class="source-link">go to website</a>
            </div>

            <div class="translation-source" ng-if="vm.translation.tm">
                <span class="source-icon">TM</span>
                <span class="source-title">Translation Memory</span>
            </div>
        </div>
        <div class="translation-details-title">Context</div>
        <div class="translation-context">
            <div ng-if="vm.tmTranslations.length === 0" class="empty-context">
                <h1>[  ]</h1>
                <span>no context available</span>
            </div>
            <table class="context-table" ng-if="vm.tmTranslations.length > 0">
                <colgroup>
                    <col width="50%"></col>
                    <col width="50%"></col>
                </colgroup>
                <tbody>
                    <tr ng-repeat="tmTrans in vm.tmTranslations">
                        <td>{{ tmTrans.source_pre }}<b>{{ tmTrans.source_mid }}</b>{{ tmTrans.source_post }}</td>
                        <td>{{ tmTrans.target_pre }}<b>{{ tmTrans.target_mid }}</b>{{ tmTrans.target_post }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="$$closeModal()">Close</button>
        <button ng-if="!vm.hasGlosbeTranslation" ng-click="vm.submit()" class="add"><img ng-src="/static/assets/images/glosbe.ico"></img> Submit To Glosbe</button>
    </div>
</div>
