<div class="co-wait-icon" ng-show="active" ng-class="{ center : center, fill : fill }">
    <div class="wait-square" style="background-color:rgb(220,220,220)"></div>
    <div class="wait-square" style="background-color:rgb(220,220,220)"></div>
    <div class="wait-square" style="background-color:rgb(220,220,220)"></div>
    <div class="wait-square" style="background-color:rgb(220,220,220)"></div>
</div>