.co-rating {
    overflow: hidden;
    .rating-value {
        margin: 0px 5px 0 0;
        display: block;
        float: left;
        font-size: 12px;
        color: @mediumGrey;
    }
    img {
        width: 10px;
        height: 14px;
    }
}