<div class="co-pagination group" unselectable="on" onselectstart="return false;">
  <div ng-class="{ 'disabled': currentPage === 0 }" ng-click="changePage(currentPage - 1)"><span><i class="fa fa-chevron-left"></i></span></div>
  <div ng-repeat="page in pages" ng-class="{active: page.active, disabled: page.disabled}" ng-click="changePage(page.number - 1)">{{ page.text }}</div>
  <div ng-class="{ 'disabled': currentPage === numberOfPages - 1}" ng-click="changePage(currentPage + 1)"><span><i class="fa fa-chevron-right"></i></span></div>
</div>