<div unselectable="on" onselectstart="return false;" class="co-slider">
    <div class="slider-slot">
        <div class="slider-slot-fill" style="width:0%"></div>
    </div>
    <div class="slider-button" style="left:0%"></div>
    <input name="num_terms" type="hidden" value=""></input>
</div>