<div class="committee-select-days-modal">
    <div class="modal-head">
        <span class="text">Committee Documents</span>
    </div>
    <div class="modal-content">
        <div class="committee-days-top">
            <div class="committee-days-navcell left">
                <button ng-click="vm.goToYear(vm.year - 1)"><i class="fa fa-chevron-left"></i>{{ vm.year - 1 }}</button>
            </div>
            <div class="committee-days-title">
                {{ vm.year }}
            </div>
            <div class="committee-days-navcell right">
                <button ng-click="vm.goToYear(vm.year + 1)">{{ vm.year + 1 }}<i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="committee-days-container">
            <div ng-repeat="month in vm.months" class="committee-days-month">
                <div class="month-title">{{ month.name }}</div>
                <div class="month-dates">
                    <button ng-repeat="mdate in month.dates" class="month-date primary" ng-click="vm.selectDay(mdate.link)">{{ mdate.display }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.goBackToOrgans()">Back</button>
        <button class="primary" ng-click="vm.addCommdocs()">Add {{ vm.numberOfParlDocs }} Documents</button>
        <button ng-click="vm.closeModal()">Dismiss</button>
    </div>
</div>
