<div class="committee-select-docs-modal">
    <div class="modal-head">
        <span class="text">Committee Documents</span>
    </div>
    <div class="modal-content">
        <div class="committee-top">
            <div class="committee-date">{{ vm.date | date:'EEEE, dd. MMMM yyyy' }}</div>
        </div>
        <div class="docs-container">
            <table class="doc-table">
                <tr class="doc" ng-repeat="commMeeting in vm.commMeetings">
                    <td class="doc-main">
                        <div class="doc-title">{{ commMeeting.title }}</div>
                        <table class="doc-properties">
                            <tr>
                                <td class="prop-name">agenda no.:</td>
                                <td>{{ commMeeting.agendaNo }}</td>
                            </tr>
                            <tr>
                                <td class="prop-name">reference:</td>
                                <td>{{ commMeeting.ref }}</td>
                            </tr>
                            <tr>
                                <td class="prop-name">type:</td>
                                <td>{{ commMeeting.docType }}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="doc-langs">
                        <div class="doc-lang" ng-class="{ selected: parlDocument.selected }" ng-click="vm.toggle(parlDocument)" ng-repeat="parlDocument in commMeeting.parlDocuments">
                            <div class="check-box" ng-class="{ 'checked': parlDocument.selected }">
                                <i ng-if="parlDocument.selected" class="fa fa-check"></i>
                            </div>
                            <div class="lang-tag">{{ parlDocument.language.tag }}</div>
                            <a class="button" target="_blank" href="files/parldocs/{{ parlDocument.id }}/PDF">PDF</a>
                        </div>
                    </td>
               </tr>
            </table>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.goBackToYear()">Back</button>
        <button class="primary" ng-click="vm.addCommdocs()">Add {{ vm.numberOfParlDocs }} Documents</button>
        <button ng-click="vm.closeModal()">Dismiss</button>
    </div>
</div>
