<div class="committee-select-organs-modal">
    <div class="modal-head">
        <span class="text">Committee Documents</span>
    </div>
    <div class="modal-content">
        <div class="committee-organs-container">
            <table class="organ-table">
                <tr class="organ" ng-repeat="organ in vm.organs" ng-click="vm.selectOrgan(organ)">
                    <td class="organ-label-cell">
                        <div class="organ-label">{{ organ.label }}</div>
                    </td>
                    <td class="organ-name-cell">{{ organ.name }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-foot">
        <button class="primary" ng-click="vm.addCommdocs()">Add {{ vm.numberOfParlDocs }} Documents</button>
        <button ng-click="vm.closeModal()">Dismiss</button>
    </div>
</div>
