<div class="report-select-procedures-modal">
    <div class="modal-head">
        <span class="text">Plenary Documents</span>
    </div>
    <div class="modal-content">
        <div class="sessions-top">
            <div class="sessions-date">{{ vm.date | date:'EEEE, dd. MMMM yyyy' }}</div>
        </div>
        <div class="sessions-container">
            <table ng-repeat="session in vm.sessions" class="session">
                <colgroup class="sessions-table-colgroup">
                    <col class="sessions-table-col main"></col>
                    <col class="sessions-table-col langs"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2" class="session-title">{{ session.startTime | date:'HH:mm' }} - {{ session.endTime | date:'HH:mm' }} {{ session.title }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in session.items" class="session-item" ng-class="{ 'procedure-group': item.type === vm.ItemType.GROUP }">
                        <td class="report-main">
                            <div ng-if="item.type === vm.ItemType.GROUP" class="session-group">{{ item.title }}</div>
                            <div ng-if="item.type === vm.ItemType.PROCEDURE" class="session-procedure" ng-class="{ child: item.isChild }">
                                <div class="procedure-title">{{ item.title }}</div>
                                <div class="procedure-report" ng-if="item.report">
                                    <div class="procedure-report-key" ng-click="vm.toggleReportDetails(item)">{{ item.report.a7No }} <i class="fa" ng-class="{ 'fa-caret-down': !item.showReportDetails, 'fa-caret-up': item.showReportDetails}"></i></div>
                                    <div ng-if="item.showReportDetails" class="procedure-report-details">
                                        <div class="procedure-report-date">{{ item.report.published | date:'dd.MM.yyyy' }}</div>
                                        <div>{{ item.report.title }}</div>
                                    </div>
                                </div>
                                <div class="procedure-item" ng-if="item.authors">{{ item.authors }}</div>
                                <div class="procedure-item" ng-if="item.organs">{{ item.organs }}</div>
                            </div>
                        </td>
                        <td class="report-langs">
                            <div class="report-lang" ng-class="{ selected: parlDocument.selected }" ng-click="vm.toggle(parlDocument)" ng-repeat="parlDocument in item.parlDocuments">
                                <div class="check-box" ng-class="{ 'checked': parlDocument.selected }">
                                    <i ng-if="parlDocument.selected" class="fa fa-check"></i>
                                </div>
                                <div class="lang-tag">{{ parlDocument.language.tag }}</div>
                                <a class="button" ng-click="vm.stopPropagation($event)" target="_blank" href="files/parldocs/{{ parlDocument.id }}/PDF">PDF</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.goBackToYear()">Back</button>
        <button class="primary" ng-click="vm.addReports()">Add {{ vm.numberOfParlDocs }} Documents</button>
        <button ng-click="vm.closeModal()">Dismiss</button>
    </div>
</div>
