
<div class="ne-context-container">
    <div class="ne-context-head">

        <div class="ne-context-controls">
            <button class="context-close" ng-click="$parent.vm.close()">Close <i class="fa fa-chevron-right"></i></button>
        </div>

    </div>

    <div class="ne-context-body">
        <div class="text-content-container" scroll-to="vm.selectedUid" mark-type="echolot" id="ne-text-scroll-container">
            <div class="text-content">
                <div class="ne-document-viewer ne-text-content small" ne-list="vm.nes" selected-types="vm.selectedTypes" on-ne-click="vm.selectNeFromText(id)" doc="vm.userDocument" selected-focused="vm.selectedFocus" selected-uid="vm.selectedUid"></div>
            </div>
        </div>
    </div>
</div>
