<div class="ne-list" >

    <div class="ne-list-head">

        <div class="ne-list-controls">
            <div class="ne-list-search">
                <input type="text" ng-model="vm.searchString" placeholder="Search">
            </div>
            <div class="ne-list-sort">
                <span></span><select ng-model="vm.sortOption.selected" ng-options="o.label for o in vm.sortOptions"></select>
            </div>
            <div class="ne-list-viewmode-select">
                <div class="ne-list-viewmode" ng-click="vm.changeViewMode(vm.NeViewMode.LARGE)" ng-class="{ selected: vm.viewMode === vm.NeViewMode.LARGE }"><i class="fa fa-bars"></i></div>
                <div class="ne-list-viewmode" ng-click="vm.changeViewMode(vm.NeViewMode.SMALL)" ng-class="{ selected: vm.viewMode === vm.NeViewMode.SMALL }"><i class="fa fa-align-justify"></i></div>
            </div>
        </div>
        <div class="ne-list-pagination">
            <co-pagination number-of-pages="vm.numPages" current-page="vm.pageNumber" max-number-of-pages="vm.maxNumPages"></co-pagination>
        </div>
        <div class="ne-list-stats">
            {{ vm.numberOfAllNes }} items found ({{ vm.numberOfFilteredNes }} shown)
        </div>

    </div>
    <div class="ne-list-body">

        <div scroll-to="vm.focusedIdMain" mark-type="flash" id="ne-list-scroll-container" class="ne-list-items" ng-class="{ expanded: vm.viewMode === vm.NeViewMode.LARGE}">
            <div ng-repeat="ne in vm.pageNes" class="ne-list-item" ng-click="vm.selectNeFromList(ne)" id="{{ 'neMain' + ne.id }}">
                <div class="ne-list-content-table">
                    <div class="ne-list-color" ng-style="ne.neType.style" title="{{ ne.neType.label }}"></div>
                    <div class="ne-list-text">
                        <div class="ne-name">
                            <span>{{ ne.name }}</span>
                        </div>
                        <div class="small ne-in-text">
                            <span>{{ ne.preText }}</span><span class="ne-actual">{{ ne.name }}</span><span>{{ ne.postText }}</span>
                        </div>
                        <div class="small ne-info">
                            type: {{ ne.neType.label }} | index: {{ ne.index }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
