<div class="ne-sidebar">
    <div class="ne-top">
        <div class="cell-left">
            <button title="go back to filespace" ng-click="vm.backToFileSpace()"><i class="fa fa-level-up fa-rotate-270"></i> Return to Filespace</button>
        </div>
    </div>

    <div class="ne-document" title="{{ vm.docItem.name }}">
        <img ng-src="/static/assets/images/{{ vm.docItem.imgPrefix }}48.png">{{ vm.docItem.name }}
    </div>



    <table class="ne-definitions">
        <colgroup>
            <col width="30px"></col>
            <col></col>
        </colgroup>
        <thead>
            <tr ng-click="vm.toggleAll()">
                <th>
                    <div class="check-box" ng-class="{ '0': 'unchecked', '1': 'checked', '2': 'partchecked' }[vm.checkAllState]">
                        <i ng-if="vm.checkAllState===1" class="fa fa-check"></i>
                        <i ng-if="vm.checkAllState===2" class="fa fa-minus"></i>
                    </div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="ne-definition" ng-repeat="neDefinition in vm.neDefinitions" ng-class="{ disabled : !neDefinition.selected }" ng-click="vm.toggleNeDefinition(neDefinition)">
                <td>
                    <div class="ne-definition-color" ng-style="neDefinition.style">
                        <i ng-if="neDefinition.selected" class="fa fa-check"></i>
                    </div>
                </td>
                <td class="ne-definition-label" >{{ neDefinition.label }}</td>
            </tr>
        </tbody>

    </table>
</div>
