#menu-container, #select-menu-container {
    text-align: left;
    display: none;
    .co-menu {
        position: fixed;
        z-index: 20;
        display: table;
        .shadow(0px; 0px; 10px; 3px; rgba(80,80,80,0.25));
        background-color: white;
        position: absolute;
        left: 50px;
        top: 50px;
        border-collapse: separate;
        .menu-group {
            display: table-row-group;

            .menu-item {
                display: table-row;
                cursor: default;
                td {
                    display: table-cell;
                }
                .menu-item-img {
                    width: 30px;
                    text-align: center;
                }
                .menu-item-text {
                    padding: 8px 20px 8px 0px;
                    .menu-item-desc {
                        color: @mediumGrey;
                        font-size: 10px;
                        margin: 0;
                    }
                }
                &:hover {
                    background-color: @ultraLightGrey;
                }
                &.default {
                    font-weight: bold;
                }
                &.disabled {
                    color: @mediumGrey;
                    &:hover {
                        background-color: transparent;
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid @formBorderColor;
                    }
                }
            }
            &:last-child {
                .menu-item:last-child td {
                    border-bottom-width: 0px;
                }
            }

        }
    }
    .co-menu-select {
        position: fixed;
        border-collapse: separate;
        display: table;
        .shadow(0px; 0px; 10px; 3px; rgba(80,80,80,0.25));
        background-color: white;
        position: absolute;
        left: 50px;
        top: 50px;
        z-index: 20;
        .menu-row {
            display: table-row;
            .menu-item {
                display: table-cell;
                cursor: default;
                border: 1px solid transparent;
                .menu-item-img {
                    display: inline-block;
                    width: 30px;
                    text-align: center;
                    i {
                        display: none;
                    }
                }
                .menu-item-text {
                    display: inline-block;
                    padding: 8px 20px 8px 0px;
                }
                &:hover {
                    background-color: @ultraLightGrey;
                    border: 1px solid @formBorderColor;
                }
                &.disabled {
                    color: @mediumGrey;
                    &:hover {
                        background-color: transparent;
                    }
                }
                &.selected {
                    z-index: 2;
                    background-color: @ultraLightBlue;
                    border: 1px solid darken(@ultraLightBlue, 5%);
                    .menu-item-img {
                        i {
                            display: block;
                        }
                    }
                }
            }
        }


        &:last-child {
            border-bottom-width: 0px;
        }
    }
}