<div id="co-modal">
    <div class="co-modal-table">
        <div class="co-modal-content">
            <div class="co-modal-top">
                <div ng-if="$$showCloseIcon" class="co-modal-close" ng-click="$$closeModal(true)">X</div>
            </div>
            <div class="co-modal-body">
            </div>
        </div>
    </div>
</div>