.ne-document-viewer {
    width: 100%;
    .upage {
        padding: 5px;
        .page-num {
            color: @mediumGrey;
            background-color: #dadada;
            padding: 6px 10px;
            margin-top: 10px;
            text-align: center;
        }
    }
    .entity {

        &.ne {
            position: relative;
            .ne-color {
                display: none;
                position: absolute;
                width: 10px;
                height: 100%;
                top: 0;
                left: 0;
            }
            &.visible {
                display: inline-block;
                cursor: pointer;
                margin-bottom: 1px;
                .ne-color {
                    display: block;
                }
                padding: 1px 3px;
                background-color: #EECE7C;
                padding-left: 14px;
                &:hover {
                    background-color: lighten(@euroYellow, 10%);
                }
            }
        }

    }
}



.ne-splitter {
    position: relative;
    height: 100%;
    &.splitted {
        .ne-splitter-context {
            display: block;
        }
        .ne-splitter-list {
            width: 50%;
            border-right: 1px solid @formBorderColor;
        }
    }
    .ne-splitter-list {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
    }
    .ne-splitter-context {
        display: none;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0;
        overflow: auto;
    }
}


.ne-sidebar {

    .ne-top {
        margin-bottom: 5px;
        display: table;
        width: 100%;
        .cell-left, .cell-right {
            display: table-cell;
        }
        .cell-left {
            text-align: left;
            //padding-right: 5px;
        }
        .cell-right {
            text-align: right;
        }
        button {
            width: 100%;
        }
    }

    .ne-document {
        overflow: hidden;
        white-space: nowrap;
        border-bottom: 1px solid @formBorderColor;
        border-top: 1px solid @formBorderColor;
        background-color: @ultraLightGrey;
        padding: 5px;
        img {
            margin: 0 5px;
        }

    }

    .ne-definitions {
        margin-top: 5px;
        padding: 5px;
        width: 100%;
        tr {
            td, th {
                padding: 5px;
                text-align: left;
                vertical-align: middle;
                border-bottom: 1px solid @formBorderColor;
                .ne-definition-color {
                    width: 20px;
                    height: 20px;
                    i {
                        margin: 4px 0 0 5px;
                        color: white;
                    }
                }
            }
            cursor: pointer;
            &.disabled {
                color: @midGrey;
            }
            &:hover {
                background-color: @ultraLightGrey;
                &.disabled {
                    color: white;
                }
            } 
        }
    }
}


.ne-list {
    position: relative;
    height: 100%;
    width: 100%;
    .ne-list-head {
        position: relative;
        height: 102px;
        padding: 5px 5px 0 5px;
        z-index: 2;
        .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
        .ne-list-controls {
            border-bottom: 1px solid @formBorderColor;
            height: 34px;

            .ne-list-search {
                position: absolute;
                left: 5px;
                top: 4px;
            }
            .ne-list-sort {
                position: absolute;
                right: 69px;
                top: 4px;
            }
            .ne-list-viewmode-select {
                position: absolute;
                right: 5px;
                top: 4px;
                font-size: 14px;
                .ne-list-viewmode {
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    float: left;
                    padding-top: 4px;
                    border: 1px solid @formBorderColor;
                    background-color: @ultraLightGrey;
                    &:last-child {
                        border-left-width: 0px;
                    }
                    &:hover {
                        background-color: darken(@ultraLightGrey, 5%);
                    }
                    &.selected {
                        .insetShadow (0; 0; 8px; 0px; rgba(0,0,0,0.3))
                    }
                }
            }
        }

        .ne-list-pagination {
            padding: 4px 0 4px 1px;
            border-bottom: 1px solid @formBorderColor;
        }
        .ne-list-stats {
            font-size: 10px;
            padding: 5px;
        }
    }


    .ne-list-body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-top: 102px;
        top: 0;
        left: 0;
        .ne-list-items {
            position: relative;
            padding: 0 5px;
            width: 100%;
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            .ne-list-item {
                border-bottom: 1px solid @formBorderColor;
                padding: 5px 0 5px 0;
                cursor: default;
                &:hover {
                    background-color: @ultraLightGrey;
                }

                .ne-list-content-table {
                    display: table;
                    word-wrap: break-word;
                    word-break: break-all;
                    table-layout: fixed;
                    width: 100%;
                    cursor: default;
                    .ne-list-color {
                        display: table-cell;
                        width: 20px;
                        min-width: 20px!important;

                    }
                    .ne-list-text {
                        display: table-cell;
                        padding-left: 10px;
                        padding-right: 10px;
                        .ne-name {
                            font-weight: bold;
                        }
                        .ne-in-text {
                            display: none;
                            color: @midGrey;
                            .ne-actual {
                                color: @lightBlue;
                            }
                        }
                        .ne-info {
                            font-size: 10px;
                            color: @darkGrey;
                        }
                    }
                }

            }
            &.expanded {
                .ne-list-item {
                    .ne-list-content-table {
                        .ne-list-text {
                            .ne-in-text {
                                display: block;
                            }
                        }
                    }
                }

            }
        }

    }
}


.ne-context-container {
    position: relative;
    width: 100%;
    height: 100%;

    .ne-context-head {
        height: 38px;
        text-align: left;
        vertical-align: top;
        position: relative;
        z-index: 2;
        padding: 4px;
        .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
        .ne-context-controls {
            position: relative;
            display: block;
            text-align: center;
            .context-close {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

    }


    .ne-context-body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-top: 38px;
        top: 0;
        left: 0;
        text-align: left;

        .text-content-container {
            position: relative;
            display: block;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            height: 100%;
            width: 100%;
            padding: 0;
            word-break: break-word;

            .text-content {

                padding: 5px;

                .full-text {
                    .term {
                        background-color: @ultraLightBlue;
                        border: 1px solid darken(@ultraLightBlue, 5%);
                        color: @lightBlue;
                        padding: 1px 8px;
                    }
                }

                .placeholder {
                    margin-top: auto;
                    display: table;
                    color: @midGrey;
                    font-size: 20px;
                    vertical-align: middle;
                    i {
                        display: table-cell;
                        font-size: 48px;
                        vertical-align: middle;
                        padding: 0 20px;
                    }
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

            }
        }
    }

}


/*
.ne-context-container {
    position: relative;
    width: 100%;
    height: 100%;

    .ne-context-head {
        height: 38px;
        text-align: left;
        vertical-align: top;
        position: relative;
        z-index: 2;
        .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
        .ne-context-controls {
            position: relative;
            .context-close {
                position: absolute;
                right: 4px;
                top: 4px;
            }
        }

    }

    .ne-context-body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-top: 38px;
        top: 0;
        left: 0;
        text-align: left;
        .text-content {
            position: relative;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            height: 100%;
            width: 100%;
            padding: 0 5px;
            line-height: 18px;
            word-break: break-word;
            .ne-text-content {
                position: relative;
                .ne {
                    .ne-color {
                        display: none;
                    }
                    &.enabled {
                        margin-bottom: -3px;
                        position: relative;
                        display: inline-block;
                        background-color: @lightGrey;
                        color: rgb(0,70,128);
                        overflow: hidden;
                        clear: both;
                        cursor: pointer;
                        .ne-color {
                            display: block;
                            position: relative;
                            margin-bottom: -100px;
                            padding-bottom: 100px;
                            float: left;
                            width: 15px;
                        }
                        .ne-content {
                            margin-left: 15px;
                            display: block;
                            padding: 0px 8px;
                            border: 1px solid @formBorderColor;
                            border-left-width: 0px;
                            line-height: 15px;
                        }
                        &:hover {
                            background-color: @midGrey;
                            color: @darkGrey;
                        }
                    }
                }
            }
        }

    }



}
*/





