<div>
    <div class="modal-head">
        <i class="icon fa fa-key"></i>
        <span class="text">Your password has been changed</span>
    </div>
    <div class="modal-content">
        <div class="desc">You can use your new password the next time you log in.</div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.close()">Close</button>
    </div>
</div>
