<div>
    <div class="modal-head">
        <i class="icon fa fa-key"></i>
        <span class="text">Change your Password</span>
    </div>
    <div class="modal-content">
        <div ng-if="vm.afterReset">
            Since your password has been resetted, you need to re-change it to a custom password. Please fill out and submit the form the change your password.
        </div>
        <div class="short-form-container">
            <div class="short-form-flash" ng-if="vm.passwordChangeFailed">
                <p ng-if="vm.passwordChangeError === 0">Please fill out the form completely.</p>
                <p ng-if="vm.passwordChangeError === 1">The password you have entered as your current password is incorrect.</p>
                <p ng-if="vm.passwordChangeError === 2">The passwords you have entered do not match.</p>
            </div>
            <form class="change-password-form horizontal" ng-submit="vm.changePassword()">
                <div class="form-group">
                    <label class="group-label">Current Password</label>
                    <div class="group-input">
                        <input type="password" ng-model="vm.pcData.passwordOld" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="group-label">New Password</label>
                    <div class="group-input">
                        <input type="password" ng-model="vm.pcData.passwordNew" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="group-label">Re-enter new Password</label>
                    <div class="group-input">
                        <input type="password" ng-model="vm.pcData.passwordNewRepeat" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.changePassword()">Submit</button>
        <button ng-click="vm.close()">Cancel</button>
    </div>
</div>