<div>

    <div class="modal-head">
        <i class="icon fa fa-gear"></i>
        <span class="text">Adjust your personal settings</span>
    </div>
    <div class="modal-content">
        <div class="desc">Since this is your first login, you should take a few seconds to adjust your personal settings. You can change these settings at any point in the future by clicking on the gear next to your name in the menu-bar</div>
    </div>
    <div class="modal-foot">
        <button ng-click="close()">Close</button>
    </div>

</div>