<div class="login-area short-form tile">
    <h2 class="title">Login</h2>
    <div class="short-form-container">
        <div class="short-form-flash" ng-if="vm.loginFailed">Your email address or password were incorrect. Please try again to log in. If you forgot your password, you can reset it <a ui-sref="reset">here</a></div>
        <form class="login-form horizontal" ng-submit="vm.login()">
            <div class="form-group">
                <label class="group-label">Email</label>
                <div class="group-input">
                    <input type="text" ng-model="vm.credentials.email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label">Password</label>
                <div class="group-input">
                    <input type="password" ng-model="vm.credentials.password" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label"></label>
                <div class="group-input">
                    <a ui-sref="reset">Forgot your password?</a>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label"></label>
                <div class="group-input">
                    <button class="white" type="submit">Log In</button>
                </div>
            </div>
        </form>
        <div ng-if="selfRegistration" class="short-form-note">You don't have an account yet? Sign Up <a ui-sref="register">here</a></div>
    </div>
</div>
