<div>
    <div class="modal-head">
        <i class="icon fa fa-star"></i>
        <span class="text">Your registration was successful</span>
    </div>
    <div class="modal-content">
        <div class="desc">Thank you for your registration! To activate your account, we have to verify your email address. We have sent you an email with the necessary activation link.</div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.close()">Close</button>
    </div>
</div>
