<div class="register-area short-form tile">
    <h2 class="title">Sign Up</h2>
    <div class="short-form-container">
        <div class="short-form-flash" ng-if="vm.showRegisterError">
            <p ng-if="vm.registerError === 0">Please fill out the form completely.</p>
            <p ng-if="vm.registerError === 1">An account for this email address does already exist. <a ui-sref="reset">Forgot your password?</a></p>
            <p ng-if="vm.registerError === 2">The passwords you have entered do not match.</p>
            <p ng-if="vm.registerError === 3">The email address you have entered is not valid. Make sure to enter a valid email address in the format xxx@xxx.xx.</p>
        </div>
        <form class="register-form horizontal" ng-submit="vm.register()">
            <div class="form-group">
                <label class="group-label">Email</label>
                <div class="group-input">
                    <input type="text" ng-model="vm.registerInfo.email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label">First Name</label>
                <div class="group-input">
                    <input type="text" ng-model="vm.registerInfo.firstName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label">Last Name</label>
                <div class="group-input">
                    <input type="text" ng-model="vm.registerInfo.lastName" required>
                </div>
            </div>

            <div class="form-group">
                <label class="group-label">Password</label>
                <div class="group-input">
                    <input type="password" ng-model="vm.registerInfo.password" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label">Re-enter Password</label>
                <div class="group-input">
                    <input type="password" ng-model="vm.registerInfo.passwordConfirm" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label">Subscribe to Newsletter</label>
                <div class="group-input">
                    <co-checkbox checked="vm.registerInfo.subscribe"></co-checkbox>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label"></label>
                <div class="group-input">
                    <button class="white" type="submit">Sign Up</button>
                </div>
            </div>

        </form>
        <div class="short-form-note">Already have an account? Log in <a ui-sref="login">here</a></div>
    </div>
</div>