<div>
    <div class="modal-head">
        <i class="icon fa fa-key"></i>
        <span class="text">Your password has been reset</span>
    </div>
    <div class="modal-content">
        <div class="desc">We have send you the new password to your email address. For security reasons make sure that you re-change your password, the next time you log in.</div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.close()">Close</button>
    </div>
</div>
