<div class="reset-area short-form tile">
    <h2 class="title">Reset your password</h2>
    <div class="short-form-container">
        <div class="short-form-desc"><b>Have you forgotten your password?</b> If you have an account, you can request a new password for your email address. After submitting your email address your password will be reset and a new, temporary password will be sent to this address. Make sure that you re-change this password the next time you log in.</div>
        <form class="reset-form vertical" ng-submit="vm.reset()">
            <div class="form-group">
                <label class="group-label">Your email address</label>
                <div class="group-input">
                    <input type="text" ng-model="vm.email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="group-label"></label>
                <div class="group-input">
                    <button class="white" type="submit">Reset</button>
                </div>
            </div>
        </form>
        <div ng-if="selfRegistration" class="short-form-note">You don't have an account yet? Sign Up <a ui-sref="register">here</a>. Or log in with your current password: <a ui-sref="login">Log In</a></div>
        <div ng-if="!selfRegistration" class="short-form-note">Log in with your current password: <a ui-sref="login">Log In</a></div>
    </div>
</div>
