<div class="tile sections-container">
    <div class="tile-caption">Settings</div>
    <div class="section">
        <div class="section-caption">Account</div>
        <div class="section-description">Settings for your user account</div>
        <div class="section-body">
            <button ng-click="vm.openChangePasswordModal()"><i class="fa fa-key"></i> Change your password</button>
        </div>
    </div>
    <div class="section">
        <div class="section-caption">Newsletter</div>
        <div class="section-description">Get notified about recent changed and improvements</div>
        <div class="section-body">
            <div class="subscribe-container">
                <div class="subscribe-checkbox">
                    <co-checkbox checked="vm.settings.isSubscriber"></co-checkbox>
                </div>
                <div class="subscribe-text">Subscribe to newsletter</div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-caption">Logging</div>
        <div class="section-description">
            <p>Help us to improve this platform, by enabling logging. The following data would be logged:</p>
            <ul>
                <li>device information (what operating system and what browser you are using)</li>
                <li>clicks (when you click on what element on what position on the screen)</li>
                <li>page change (when you switch from one page to another page within our application)
            </ul>
        </div>
        <div class="section-body">
            <div class="subscribe-container">
                <div class="subscribe-checkbox">
                    <co-checkbox checked="vm.settings.hasEnabledLogging"></co-checkbox>
                </div>
                <div class="subscribe-text">Enable logging</div>
            </div>
        </div>
    </div>
    <div class="settings-wait">
        <co-wait-icon active="vm.inProgress"></co-wait-icon>
    </div>
    <div class="settings-submit">
        <button ng-class="{ disabled : vm.inProgress }" ng-click="vm.submit()">Save</button>
        <button ng-class="{ disabled : vm.inProgress }" ng-click="vm.discard()">Discard</button>
    </div>
</div>
