
<div>
    <div class="modal-head">
        <i class="icon fa fa-star"></i>
        <span class="text">Your Account has been verified</span>
    </div>
    <div class="modal-content">
        <div class="desc">You can now login, using your email address and your password</div>
    </div>
    <div class="modal-foot">
        <button ng-click="vm.close()">Close</button>
    </div>
</div>
