<div class="welcome-area tile">
    <div class="background-container"></div>
    <div class="welcome-table-container">
        <div class="welcome-text">
            <h1 class="welcome-text-welcome">Welcome to Interprept</h1>
            <h3>the interpreters daily helper.</h3>
            <p>interprept is designed to assist interpreters during the preparation phase for various kinds of sessions. It does this by providing an easy-to-use document management system as well as fast <a href="https://en.wikipedia.org/wiki/Terminology_extraction" target="_blank">terminology extraction</a> and <a href="https://en.wikipedia.org/wiki/Named-entity_recognition" target="_blank">named entity tagging</a>.</p>
            <h3>Terminology Extraction</h3>
            <p>Terminology Extraction aims to extract terminological keywords and phrases from parliamentary documents such as plenary session reports, presentations and other resources.</p>
            <h3>Named-Entity Tagging</h3>
            <p>Named-Entity Tagging aims to highlight important numbers, names, locations, dates, article references, etc.</p>
        </div>
        <div class="welcome-controls">

            <div class="register-form-container" ng-if="selfRegistration">
                <h2>Create your Account</h2>
                <div class="register-form-error" ng-if="vm.showRegisterError">
                    <p ng-if="vm.registerError === 0">Please fill out the form completely.</p>
                    <p ng-if="vm.registerError === 1">An account for this email address does already exist. <a ui-sref="reset">Forgot your password?</a></p>
                    <p ng-if="vm.registerError === 2">The passwords you have entered do not match.</p>
                    <p ng-if="vm.registerError === 3">The email address you have entered is not valid. Make sure to enter a valid email address in the format xxx@xxx.xx.</p>
                </div>
                <form class="register-form horizontal" ng-submit="vm.register()">
                    <div class="form-group">
                        <label class="group-label">Email</label>
                        <div class="group-input">
                            <input type="text" ng-model="vm.registerInfo.email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="group-label">First Name</label>
                        <div class="group-input">
                            <input type="text" ng-model="vm.registerInfo.firstName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="group-label">Last Name</label>
                        <div class="group-input">
                            <input type="text" ng-model="vm.registerInfo.lastName" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="group-label">Password</label>
                        <div class="group-input">
                            <input type="password" ng-model="vm.registerInfo.password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="group-label">Re-enter Password</label>
                        <div class="group-input">
                            <input type="password" ng-model="vm.registerInfo.passwordConfirm" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="group-label">Subscribe to Newsletter</label>
                        <div class="group-input">
                            <co-checkbox checked="vm.registerInfo.subscribe"></co-checkbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="group-label"></label>
                        <div class="group-input">
                            <button type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
                <div class="login-note">Already have an account? Log in <a ui-sref="login">here</a></div>
            </div>
        </div>
    </div>
</div>
