.terminology-document-viewer {
    width: 100%;
    .upage {
        padding: 5px;
        .page-num {
            color: @mediumGrey;
            background-color: #dadada;
            padding: 6px 10px;
            margin-top: 10px;
            text-align: center;
        }
    }
    .entity {
        padding: 1px 3px;
        display: inline-block;
        cursor: pointer;
        margin-bottom: 1px;
        &.ne {
            position: relative;
            background-color: #EECE7C;
            padding-left: 14px;
            .ne-color {
                position: absolute;
                width: 10px;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        &.te {
            background-color: #93E293;
            &:hover {
                background-color: lighten(#93E293, 10%);
            }
        }
        &.selected {
            background-color: @euroYellow;
            &:hover {
                background-color: lighten(@euroYellow, 10%);
            }
        }

    }
}


.terminology-edit-modal {
    .edit-split-table {
        table-layout: fixed;
        width: 100%;
        .terminology-list-small {
            font-size: 10px;
            height: 437px;
            overflow: auto;
            .term {
                padding: 2px;
                border-bottom: 1px solid @formBorderColor;
                &:hover {
                    background-color: @ultraLightGrey;
                }
                &.selected {
                    background-color: @ultraLightBlue;
                }
            }
        }
        .edit-split-row {
            > td {
                height: 100%;
                vertical-align: top;
                text-align: left;
                border-left: 1px solid @formBorderColor;
                &:first-child {
                    border-left-width: 0px;
                }
            }
        }

        .terminology-table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            th {
                border-bottom: 1px solid @formBorderColor;
                position: relative;
            }
            .terminology-table-row {
                > td {
                    position: relative;
                    height: 100%;
                    vertical-align: top;
                    text-align: left;
                    border-left: 1px solid @formBorderColor;
                    overflow: hidden;
                    &:first-child {
                        border-left-width: 0px;
                    }
                }
            }

            .translation-controls {
                position: absolute;
                right: 5px;
                top: 0;
                button {
                    padding: 2px;
                    &.add {
                        padding: 3px;
                    }
                }
            }


            .term-infos {
                position: relative;
                height: 100%;
                .term-controls {
                    position: absolute;
                    top: 370px;
                    padding: 0 10px;
                    width: 100%;
                    text-align: center;
                }
                .term-name {
                    font-weight: bold;
                    text-decoration: underline;
                    margin: 10px;
                    padding: 5px;
                }
                .term-related {
                    position: relative;
                    margin: 20px 10px 10px 10px;
                    padding: 10px;
                    border: 1px solid @formBorderColor;
                    background-color: @ultraLightGrey;
                    i {
                        position: absolute;
                        font-size: 14px;
                        top: -8px;
                        left: 10px;
                        background-color: white;
                        border-radius: 5px;
                    }
                    .term-rel {
                        display: inline-block;
                        font-size: 10px;
                        padding: 1px 3px;
                        margin: 3px 1px;
                        border: 1px solid @formBorderColor;
                        cursor: pointer;
                        &:hover {
                            background-color: white;
                        }
                        &.selected {
                            background-color: @lightBlue;
                            border-color: @lightBlue;
                            color: white;
                        }
                    }
                }
            }
            .translations-container-caption {
                position: relative;
                cursor: pointer;
                padding: 5px;
                border-bottom: 1px solid @formBorderColor;
                border-top: 1px solid @formBorderColor;
                background-color: @ultraLightGrey;
                text-align: center;
                color: rgb(110,110,110);
                &:hover {
                    background-color: darken(@ultraLightGrey, 5%);
                }
                i {
                    position: absolute;
                    color: @mediumGrey;
                    top: 6px;
                    &:first-child {
                        left: 12px;
                    }
                    &:last-child {
                        right: 12px;
                    }
                }
            }
            .empty-translations {
                color: @lightGrey;
                text-align: center;
                margin-top: 40px;
                h1 {
                    font-size: 48px;
                }
                span {
                    font-size: 20px;
                }
            }

            .term-edit {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 5px;
                background-color: white;
                text-align: center;
                height: 40px;
                z-index: 1;
                .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
                .input-name {
                    margin-right: 50px;
                    margin-left: 0;
                }
                .input-submit {
                    position: absolute;
                    right: 6px;
                    top: 5px;
                    width: 50px;
                    height: 30px;
                }
                input[type="text"] {
                    width: 100%;
                }
                button {
                    width: 100%;
                    height:100%;
                }
            }

            .translation-create {
                position: relative;
                padding: 5px;
                background-color: white;
                text-align: center;
                height: 40px;
                .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
                .input-name {
                    margin-right: 50px;
                    margin-left: 0;
                }
                .input-submit {
                    position: absolute;
                    right: 6px;
                    top: 5px;
                    width: 50px;
                    height: 30px;
                }
                input[type="text"] {
                    width: 100%;
                }
                button {
                    width: 100%;
                    height:100%;
                }
            }
            .translations-container {
                width: 100%;
                overflow: auto;
                font-size: 10px;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    table-layout: fixed;
                    tr {
                        td {
                            padding: 3px 5px;
                            vertical-align: middle;
                            border-bottom: 1px solid @formBorderColor;
                            &.translation-select {
                                font-size: 12px;
                            }
                            &.translation-name {
                                padding: 6px;
                            }
                            &.translation-hide {
                                text-align: center;
                                cursor: pointer;
                                font-size: 14px;
                                color: @mediumGrey;
                            }
                        }
                        &:hover {
                            background-color: @ultraLightGrey;
                        }
                        &.marked {
                            background-color: @ultraLightBlue;
                        }
                    }

                }
                &.active {
                    height: 380px;
                    &.create {
                        height: 340px;
                    }
                    &.small {
                        height: 230px;
                        &.create {
                            height: 190px;
                        }
                    }
                    .translation-hide {
                        &:hover {
                            color: @warningRed;
                        }
                    }
                }
                &.inactive {
                    height: 150px;
                    .translation-hide {
                        &:hover {
                            color: @leafeGreen;
                        }
                    }
                }
            }

        }
    }
}



.translation-details-modal {
    .translation-top {
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            td {
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                &.source-cell, &.target-cell {
                    font-weight: bold;
                }
                &.tag-cell {
                    padding: 0;
                    .tag {
                        display: block;
                        width: 24px;
                        height: 24px;
                        color: white;
                        background-color: @lightBlue;
                        padding: 3px;
                        border-radius: 12px;
                    }
                }
                &.source-cell {
                    text-align: right;
                }
                &.target-cell {
                    text-align: left;
                }
                &.controls-cell {
                    text-align: right;
                    vertical-align: top;
                }
            }
        }
    }
    .translation-sources {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid @formBorderColor;
        border-top: 1px solid @formBorderColor;
        padding: 0 5px;

        .translation-source {
            padding: 8px 5px 8px 0;
            border-bottom: 1px solid @formBorderColor;
            margin: 2px;
            .source-icon {
                height: 30px;
                width: 30px;
                border: 1px solid @formBorderColor;
                padding: 4px;
                img {
                    width: 16px;
                    height: 16px;
                }
                i {
                    font-size: 16px;
                }
            }
            .source-title {
                margin-left: 10px;
            }
            .source-link {
                float: right;
            }
            &:last-child {
                border-bottom-width: 0px;
            }
        }
    }
    .translation-details-title {
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
    }
    .translation-context {
        border-bottom: 1px solid @formBorderColor;
        border-top: 1px solid @formBorderColor;
        max-height: 300px;
        overflow: auto;
        .empty-context {
            color: @lightGrey;
            text-align: center;
            margin: 20px;
            h1 {
                font-size: 48px;
            }
            span {
                font-size: 20px;
            }
        }
        .context-table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            tbody{
                td {
                    padding: 5px;
                    border-bottom: 1px solid @formBorderColor;
                }
                tr:nth-child(odd) {
                    background-color: @ultraLightGrey;
                }
                tr:last-child {
                    td {
                        border-bottom-width: 0px;
                    }
                }
            }
        }
    }
}

.term-selector {
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 1px solid @formBorderColor;
    .term {
        border-bottom: 1px solid @formBorderColor;
        padding: 10px;
        &:hover {
            background-color: @ultraLightGrey;
        }
    }
}

.rename-term-modal {
    .modal-content {
        width: 400px;
        input[type="text"] {
            width: 100%;
        }
    }
}

.term-details-modal {
    .term-top {
        background-color: @ultraLightGrey;
        border-top: 1px solid @formBorderColor;
        border-bottom: 1px solid @formBorderColor;
        padding: 5px;
        margin-top: 5px;
        position: relative;
        .term-name {
            margin-left: 5px;
            font-weight: bold;
            color: @lightBlue;
        }
        .term-rel-container {
            margin-top: 5px;
            margin-bottom: 5px;
            .term-rel {
                font-size: 10px;
                padding: 3px;
                margin: 3px;
                border: 1px solid @formBorderColor;
            }
        }

    }

    .modal-content {
        width: 500px;
    }

    .translations {
        margin-top: 10px;
        .translation-controls {
            height: 34px;
            border-bottom: 1px solid @formBorderColor;
            position: relative;

            .translations-multi-select {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 30px;
                width: 30px;
                border: 1px solid @formBorderColor;
                background-color: @ultraLightGrey;
                padding: 4px;
            }
            .translations-multi-visible {
                position: absolute;
                left: 30px;
                top: 0px;
                height: 30px;
                width: 30px;
                border: 1px solid @formBorderColor;
                border-left-width: 0px;
                background-color: white;
                color: @lightBlue;
                padding: 6px 8px;
                cursor: pointer;
            }


            .translation-add-button {
                position: absolute;
                left: 65px;
                top: 0px;
                width: 30px;
                padding: 8px 0 5px 0;
            }
            .translation-options {
                position: absolute;
                left: 100px;
                top: 0px;
                font-size: 14px;
                .translation-option {
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    float: left;
                    padding-top: 4px;
                    border: 1px solid @formBorderColor;
                    border-right-width: 0px;
                    background-color: @ultraLightGrey;
                    &:last-child {
                        border-right-width: 1px;
                    }
                    &:hover {
                        background-color: darken(@ultraLightGrey, 5%);
                    }
                    &.primary {
                        background-color: @lightBlue;
                    }
                    &.no-width-override {
                        width: inherit;
                    }
                    &.keep-distance {
                        margin-right: 5px;
                        border-right-width: 1px;
                    }
                    &.no-border {
                        border-width: 0px;
                    }
                }
            }
            .translations-lang-select {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        .translations-table-container {
            max-height: 350px;
            overflow: auto;
        }

        .translations-table {
            width: 100%;
            .translation-create-form {
                td {
                    padding: 5px;
                }
                input[type="text"], button {
                    width: 100%;
                }
            }
            .translation {
                &.unchecked {
                    .translation-table-td.name {
                        color: @mediumGrey;
                    }
                }
                &:hover {
                    background-color: @ultraLightGrey;
                }
                &.selected {
                    background-color: @ultraLightBlue;
                }
                .translation-table-td {
                    padding: 5px;
                    border-bottom: 1px solid @formBorderColor;
                    &.select {
                        text-align: center;
                        cursor: pointer;
                    }
                    &.order {
                        text-align: right;
                        padding-right: 5px;
                        button {
                            padding: 5px 0;
                            margin: 5px 0;
                            width: inherit;
                            height: inherit;
                        }
                    }
                    &.sources {
                        text-align: right;
                        .translation-source {
                            width: 24px;
                            height: 24px;
                            padding: 4px;
                            border: 1px solid @formBorderColor;
                            float: right;
                            margin: 2px;
                            &.online-source {
                                padding: 2px;
                                cursor: pointer;
                                text-decoration: none;
                                &:hover {
                                    background-color: @ultraLightBlue;
                                }
                            }
                            img {
                                width: 16px;
                                height: 16px;
                            }
                            i {
                                font-size: 16px;
                            }
                        }


                    }
                }
            }
        }

    }
}


.terminology-splitter {
    position: relative;
    display: block;
    height: 100%;
    &.splitted {
        .terminology-splitter-context {
            display: block;
        }
        .terminology-splitter-list {
            width: 50%;
            border-right: 1px solid @formBorderColor;
        }
    }
    .terminology-splitter-list {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
    }
    .terminology-splitter-context {
        display: none;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0;
        overflow: auto;
    }
}

.term-save-modal {
    input {
        width: 100%;
        margin-bottom: 10px;
    }
}

.terminology-sidebar {

    .terminology-file-name {
        padding: 5px;
        margin-bottom: 5px;
        border-top: 1px solid @formBorderColor;
        border-bottom: 1px solid @formBorderColor;
        img {
            margin-right: 5px;
        }
    }

    .terminology-top {
        margin-bottom: 5px;
        display: table;
        width: 100%;
        .cell-left, .cell-right {
            display: table-cell;
        }
        .cell-left {
            text-align: left;
            //padding-right: 5px;
        }
        .cell-right {
            text-align: right;
        }
        button {
            width: 100%;
        }
    }

    .document-box {

        height: 197px;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        border-bottom: 1px solid @formBorderColor;
        border-top: 1px solid @formBorderColor;
        background-color: @ultraLightGrey;
        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }
        .document-item {
            padding: 5px;
            cursor: pointer;
            border-bottom: 1px solid @formBorderColor;
            background-color: white;
            img {
                margin: 0 5px;
            }
            &:last-child {
                margin-bottom: -1px;
            }
            &:hover {
                background-color: @ultraLightGrey;
            }
            &.selected {
                background-color: @ultraLightBlue;
            }
            &.disabled {
                color: @mediumGrey;
                background-color: white;
            }

            td {
                padding: 3px;
                &:first-child {
                    vertical-align: middle;
                }
                &:last-child {
                    div {
                        -ms-word-break: break-all;
                        -ms-word-wrap: break-all;
                        -webkit-word-break: break-word;
                        -webkit-word-wrap: break-word;
                        word-break: break-word;
                        word-wrap: break-word;
                        -webkit-hyphens: manual;
                        -moz-hyphens: manual;
                        hyphens: manual;
                    }

                }
            }
        }
    }
    .terminology-controls-save {
        margin-bottom: 20px;
        width: 100%;
        td {
            &:first-child {
                width: 90px;
                padding-right: 5px;
                button {
                    height: 61px;
                }
            }
        }

        button {
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .terminology-controls {
        margin-top: 20px;

        .terminology-controls-reset {
            position: relative;
            .lock-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(255,255,255,0.7);
                display: none;

                div {
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                    font-size: 42px;
                    border: 1px solid @formBorderColor;
                    background-color: white;
                    margin: auto;
                    margin-top: 40px;
                    padding-left: 10px;
                    cursor: pointer;
                    i {
                        margin-top: -10px;
                    }
                    &:hover {
                        color: @ultraLightGrey;
                        background-color: @lightBlue;
                        border-color: @lightBlue;
                    }
                }
            }
            &.locked {
                .lock-overlay {
                    display: block;
                }
            }
        }
        .terminology-control {
            margin-top: 20px;
            .control-caption {

            }
            select {
                width: 100%;
            }
        }

    }
}



.terminology-list {
    position: relative;
    height: 100%;
    width: 100%;

    .options-button {
        width: 20px;
        height: 20px;
        font-size: 14px;
        background-color: @ultraLightGrey;
        border: 1px solid @formBorderColor;
        color: @mediumGrey;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: @lightBlue;
            border-width: 0px;
            color: white;
        }
    }

    .terminology-list-head {
        height: 93px;
        padding: 4px 4px 0 4px;
        position: relative;
        display: block;
        z-index: 2;
        .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
        .terminology-list-controls {
            height: 34px;
            border-bottom: 1px solid @formBorderColor;
            position: relative;


            .terminology-multi-selector {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 30px;
                width: 30px;
                border: 1px solid @formBorderColor;
                background-color: @ultraLightGrey;
                padding: 4px;
            }

            .terminology-add-button {
                position: absolute;
                left: 35px;
                top: 0px;
                width: 30px;
                padding-top: 8px;
            }

            .terminology-options {
                position: absolute;
                left: 70px;
                top: 0px;
                font-size: 14px;
                .terminology-option {
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    float: left;
                    padding-top: 4px;
                    border: 1px solid @formBorderColor;
                    border-right-width: 0px;
                    background-color: @ultraLightGrey;
                    &:last-child {
                        border-right-width: 1px;
                    }
                    &:hover {
                        background-color: darken(@ultraLightGrey, 5%);
                    }
                    &.primary {
                        background-color: @lightBlue;
                    }
                    &.no-width-override {
                        width: inherit;
                    }
                    &.keep-distance {
                        margin-right: 5px;
                        border-right-width: 1px;
                    }
                    &.no-border {
                        border-width: 0px;
                    }
                }
            }

            .terminology-sort {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            button {
                padding-left: 0px;
                padding-right: 0px;
            }
            .open-splitview-button {
                padding-left: 10px;
                border-width: 0px;
            }
        }
        .terminology-list-stats {
            font-size: 10px;
            padding: 3px;
        }
        .terminology-table-head {
            display: table;
            width: 100%;
            height: 35px;
            border-collapse: collapse;
            table-layout: fixed;
            colgroup {
                .terminology-table-col {
                    display: table-column;
                    &.select {
                        width: 30px;
                    }
                    &.options {
                        width: 30px;
                    }
                    &.name {

                    }
                    &.importance {
                        width: 20px;
                    }
                }
            }
            .terminology-table-header {
                font-weight: bold;
                .terminology-table-cell {
                    cursor: default;
                    border-top: 1px solid @formBorderColor;
                    overflow: hidden;
                    vertical-align: middle;
                    display: table-cell;
                    padding-left: 5px;
                    &.sortable {
                        i {
                            margin-left: 5px;
                            margin-top: 3px;
                        }
                        &:hover {
                            background-color: @ultraLightGrey;
                        }
                        &.selected {
                            color: @leafeGreen;
                        }
                    }

                }
                .swapable-header {
                    span {
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        text-align: center;
                        font-size: 14px;
                        border: 1px solid @formBorderColor;
                        background-color: @ultraLightGrey;
                        cursor: pointer;
                        margin-top: 2px;
                        &:first-child {
                            margin-right: 5px;
                        }
                        &:last-child {
                            margin-left: 5px;
                        }
                        &:hover {
                            color: @ultraLightGrey;
                            background-color: @lightBlue;
                            border-color: @lightBlue
                        }
                        i {
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
        .language-select-button {
            width: 20px;
            height: 20px;
            font-size: 14px;
            background-color: @ultraLightGrey;
            border: 1px solid @formBorderColor;
            color: @mediumGrey;
            text-align: center;
            cursor: pointer;
            position: absolute;
            right: 4px;
            bottom: 6px;
            &:hover {
                background-color: @lightBlue;
                border-width: 0px;
                color: white;
            }
        }

    }

    .terminology-list-body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-top: 93px;
        top: 0;
        left: 0;
        .terminology-list-scroll-container {
            position: relative;
            padding: 0 5px;
            width: 100%;
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

    }

    .terminology-table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        colgroup {
            .terminology-table-col {
                display: table-column;
                &.select {
                    width: 30px;
                }
                &.options {
                    width: 30px;
                }
                &.name {

                }
                &.importance {
                    width: 20px;
                }
            }
        }
        .terminology-table-body {
            display: table-row-group;
            .terminology-table-row {
                &:hover {
                    background-color: @ultraLightGrey;
                }
                &.selected {
                    background-color: @ultraLightBlue;
                    //color: @ultraLightGrey;
                }

                .terminology-list-translation {
                    padding: 3px;
                }

                .translation-controls {
                    margin: 10px 0;
                    max-width: 400px;
                    .translation-refresh-button {
                        width: 100%;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                        margin-bottom: 10px;
                    }
                    .user-translation-form {
                        table {
                            width: 100%;
                            td {
                                input, button {
                                    width: 100%
                                }
                                &:last-child {
                                    width: 60px;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                    .translation-container {
                        border: 1px solid @formBorderColor;
                        height: 150px;
                        background-color: white;
                        margin-bottom: 10px;
                        color: @darkGrey;
                        overflow: auto;

                        .translation {
                            width: 100%;
                            .translation-name {
                                padding: 2px;
                                border-bottom: 1px solid @formBorderColor;
                                cursor: pointer;
                                &:hover {
                                    background-color: @ultraLightGrey;
                                }
                            }
                            .translation-source {
                                background-color: @ultraLightGrey;
                                border-left: 1px solid @formBorderColor;
                                border-bottom: 1px solid @formBorderColor;
                                text-align: center;
                                width: 40px;
                                font-size: 14px;
                                padding: 2px;
                                img {
                                    width: 16px;
                                    height: 16px;
                                }
                            }

                            &.selected {
                                .translation-name {
                                    background-color: @ultraLightBlue;
                                }
                            }

                        }
                    }
                }
                .sequence-bottom-controls {
                    .deselect-sequence {
                        margin: 5px;
                        font-size: 42px;
                        color: white;
                        cursor: pointer;
                        &:hover {
                            color: @lightBlue;
                        }
                    }
                }
                .sequence-controls {
                    width: 100%;
                    max-width: 400px;
                    position: relative;
                    margin: 10px 0;
                    height: 100%;
                    margin-bottom: 50px;
                    .sequence-top-controls {
                        button {
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        .open-splitview-button {
                            padding-left: 10px;
                            border-width: 0px;
                        }
                    }
                    .sequence-name-form {
                        margin-bottom: 10px;
                        table {
                            width: 100%;
                            td {
                                input, button {
                                    width: 100%
                                }
                                &:last-child {
                                    width: 60px;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                }

            }
        }
        .terminology-table-row {
            display: table-row;
            .terminology-table-cell {
                overflow: hidden;
                vertical-align: top;
                display: table-cell;
                border-bottom: 1px solid @formBorderColor;
                padding: 5px;
                height: 100%;
                position: relative;
                &.trans {
                    padding: 2px;
                }
                .wait-text {
                    color: @mediumGrey;
                }
            }
        }

    }

}
.terminology-context-container {
    position: relative;
    width: 100%;
    height: 100%;

    .terminology-context-head {
        height: 38px;
        text-align: left;
        vertical-align: top;
        position: relative;
        z-index: 2;
        padding: 4px;
        .shadow (0; 0; 10px; 0px; rgba(0,0,0,0.25));
        .terminology-context-controls {
            position: relative;
            display: block;
            text-align: center;
            .context-select-info {
                float: left;
                text-align: left;
                line-height: 12px;
                color: @leafeGreen;
                margin: 2px;
                width: 100px;
                margin-right: -100px;
                td {
                    &:first-child {
                        padding: 5px;
                        font-size: 14px;
                    }
                }
            }
            .context-add {
                float: left;
                width: 100px;
                margin-right: -100px;
            }
            .context-close {
                position: absolute;
                top: 0;
                right: 0;
            }
            .context-back {
                position: absolute;
                top: 0;
                left: 0;
            }
            .context-navi {
            }
        }

    }


    .terminology-context-body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-top: 38px;
        top: 0;
        left: 0;
        text-align: left;

        .text-content-container {
            position: relative;
            display: block;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            height: 100%;
            width: 100%;
            padding: 0;
            word-break: break-word;

            .text-content {

                padding: 5px;

                .full-text {
                    .term {
                        background-color: @ultraLightBlue;
                        border: 1px solid darken(@ultraLightBlue, 5%);
                        color: @lightBlue;
                        padding: 1px 8px;
                    }
                }

                .placeholder {
                    margin-top: auto;
                    display: table;
                    color: @midGrey;
                    font-size: 20px;
                    vertical-align: middle;
                    i {
                        display: table-cell;
                        font-size: 48px;
                        vertical-align: middle;
                        padding: 0 20px;
                    }
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                .file-section {
                    .file-section-title {
                        border-bottom: 1px solid @formBorderColor;
                        color: @lightBlue;
                        font-weight: bold;
                        padding: 10px;
                        cursor: pointer;
                        &:hover {
                            background-color: @ultraLightGrey;
                        }
                    }
                    .file-section-body {
                        .file-section-occurance {
                            padding: 10px 0px;
                            border-bottom: 1px solid @formBorderColor;
                            .sequence-in-text {
                                color: @lightBlue;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

}

