
.settings-wait {
    text-align: center;
}
.settings-submit {
    text-align: center;
    button {
        width: 100px;
        height: 60px;
        margin: 0 10px;
        text-align: center;
        padding: 0px;
        font-size: 18px;
        cursor: pointer;
        &.disabled {
            background-color: transparent;
            color: #cccccc;
            cursor: default;
        }
    }
}


.subscribe-container {
    display: table;
    .subscribe-checkbox {
        display: table-cell;
        vertical-align: middle;
    }
    .subscribe-text {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
}
