.verify-area {
    padding: 40px;
    text-align: center;
    h1 {
        color: @lightBlue;
        font-weight: bold;
    }
}


.welcome-area {
    margin: auto;
    margin-top: 20px;
    width: 900px;
    height: 600px;
    position: relative;
    .shadow(0px, 0px, 20px, 0px, #999999);
    .background-container {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url("/static/assets/images/microphones.png");
        .opacity(0.2);
    }
    .welcome-table-container {
        position: relative;
        z-index: 2;
        display: table;
        width: 100%;
        .welcome-text {
            display: table-cell;
            width: 50%;
            padding: 30px;
            h1, h2, h3 {
                color: @lightBlue;
                font-weight: bold;
            }
            .highlight {
                font-weight: bold;
                color: @lightBlue;
            }
        }
        .welcome-controls {
            display: table-cell;
            width: 50%;
            padding: 10px 20px 10px 20px;
            vertical-align: middle;

            .register-form-container {
                background-color: rgba(255,255,255,0.3);
                border: 1px solid @formBorderColor;
                padding: 20px;
                .register-form-error {
                    width: 100%;
                    background-color: rgb(255, 216, 216);
                    border: 1px solid rgb(200, 25, 25);
                    padding: 10px;
                    margin-bottom: 20px;
                    margin-top: -20px;
                    border-radius: 3px;
                }
                .register-form-success {
                    width: 100%;
                    color: #43B25D;
                    font-weight: bold;
                    margin-bottom: 20px;
                    margin-top: -20px;
                    position: relative;
                    p {
                        margin-right: 30px;
                    }
                    i {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        font-size: 28px;
                    }
                }
                h2 {
                    color: @lightBlue;
                    font-weight: bold;
                    padding-left: 20px;
                    margin-bottom: 30px;
                }
                button {
                    padding: 10px 20px;
                    height: 50px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                    background-color: #43B25D;
                    border: 1px solid @formBorderColor;
                    border-radius: 3px;
                }
                .login-note {
                    background-color: white;
                    padding: 10px;
                    margin-top: 10px;
                    border: 1px solid @formBorderColor;
                }
            }
        }
    }
}
