.co-pagination {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    padding-left: 1px;
    div {
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 6px;
        margin-left: -1px;
        margin-bottom: -1px;
        border: 1px solid @formBorderColor;
        background-color: @ultraLightGrey;
        cursor: pointer;

        &:hover {
            background-color: darken(@ultraLightGrey, 5%);
        }

        &.disabled {
            background-color: white;
            color: @mediumGrey;
            cursor: default;
        }
        &.active {
            cursor: default;
            z-index: 1;
            background-color: @ultraLightBlue;
            border-color: darken(@ultraLightBlue, 10%);
        }
    }
}